.items1 {
  background: var(--website-1-color-1);
}

.items1-header {
  text-align: center;
  margin: 0 auto 30px auto;
  max-width: 700px;
}
.items1-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.article1-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 15px;
  border-radius: 20px;
  border: solid 1px #e9e9e9;
  transition: 0.4s;
  max-width: 300px;
}
.article1-card:hover {
  background: var(--website-1-color-4);
}
.article1-card-img img {
  width: 100%;
  display: block;
}
.article1-card-img {
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.article1-card-caption {
  border-radius: 6px;
  border-bottom-left-radius: 0;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: fit-content;
  background: white;
  padding: 7px;
  color: var(--discription-dark);
}
.article1-card-info {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article1-card-info h1 {
  color: var(--title-dark);
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 8px;
}
.article1-card-info p {
  font-size: 20px;
  color: var(--discription-dark);
}

.article1-card-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article1-card-link {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: var(--website-1-color-4);
  color: var(--website-1-color-3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article1-card:hover .article1-card-link {
  background: white;
}
