.pricing1 {
  padding: 20px 0;
  text-align: center;
  background: var(--website-color-1);
}
.pricing1-head {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  color: var(--website-color-3);
  margin-bottom: 25px;
}
.pricing1-head p {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey);
  text-align: center;
}
.pricing1-mainCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pricing1-even-card,
.pricing1-odd-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 266px;
  height: 600px;
  min-height: 500px;
  min-width: 266px;
  border-radius: 20px;
  padding: 45px;
  margin: 20px;
  background: var(--website-color-4);
}

.pricing1-even-card h3,
.pricing1-odd-card h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  color: var(--website-color-3);
}

.pricing1-even-card h1,
.pricing1-odd-card h1 {
  font-size: 70px;
  font-weight: 600;
  color: var(--website-color-3);
  margin-bottom: -15px;
}

.pricing1-odd-card h1 {
  color: var(--website-color-2);
}

.pricing1-even-card h1 span,
.pricing1-odd-card h1 span {
  font-size: 18px;
  font-weight: 600;
  color: var(--website-color-3);
}

.pricing1-even-card hr {
  background: var(--website-color-2);
  height: 2px;
  margin-top: 15px;
}
.pricing1-odd-card hr {
  background: var(--website-color-3);
  height: 2px;
  margin-top: 15px;
}

/* .pricing1-odd-card h6 {
  background: var(--website-color-3);
  color: var(--white);
  border-radius: 8px;
  padding: 2px;
  font-size: xx-small;
  max-width: 80%;
  margin-left: 16px;
  margin-top: -10px;
} */

.pricing1-timeUnit {
  color: var(--website-color-3);
  font-weight: 600;
}
.pricing1-even-card p,
.pricing1-odd-card p {
  align-items: center;
  font-size: 12px;
  margin: 5px;
  margin-top: 20px;
  color: var(--grey);
}

.even-card-button,
.odd-card-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 63px;
  padding: 8px;
  border-radius: 12px;
  gap: 10px;
  background: var(--website-color-2);
}

.odd-card-button {
  background: var(--website-color-3);
  margin-top: 63px;
}

.even-card-button span {
  font-size: 18px;
  font-weight: 200;
  color: white;
}
.odd-card-button span {
  font-size: 18px;
  font-weight: 200;
  color: white;
;
}

.even-card-button img,
.odd-card-button img {
  width: 15.14px;
  height: 13.18px;
  margin-top: 7px;
}

/* @media screen and (max-width: 980px) {
    .pricing1-cards{
        display: flex;
        flex-direction: column;
    }
    .pricingCard {
      width: 266px;
      margin: 20px auto;
    }
  
    .pricing-card-button {
      margin-top: 20px;
    }
  }
   @media screen and (max-width: 680px) {
    .pricing1-cards{
        display: flex;
        flex-direction: column;
    }
    .pricingCard {
      width: 266px;
      margin: 20px auto;
    }
  
    .pricing-card-button {
      margin-top: 20px;
    }
  } */
