.pricing1{
    padding: 10px;
    text-align: center;
    margin-top: 70px; 
    background-color: #FFFFFF; 
}
.pricing1-head{
    text-align: center;
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    color: #292F36;
    margin-bottom: 25px;
    
}
.pricing1-head p{
    font-family: Jost;
    font-size: 18px;
    font-weight: 300;
    color: #4D5053;
    text-align: center;
}
.pricing1-mainCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center; 
    align-items: center;
  }
  .pricing1-card0,
  .pricing1-card1,
  .pricing1-card2{ 
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 266px;
      height: auto;
      min-height: 500px;
      min-width: 266px ;
      border-radius: 20px;
      padding: 45px;
      margin: 20px;
      background-color: #F4F0EC
  }
  .pricing1-card1{
    box-shadow: 0px 2px 2px 2px rgba(168, 168, 168, 0.192) 
  }
  .pricing1-card-title{
  font-family: DM Serif Display;
   font-size:22px;
   font-weight: 600;
   line-height: 25px;
   color: #292F36;

  }
  .pricing1-card0 h1,
  .pricing1-card1 h1,
  .pricing1-card2 h1{
   font-family:DM Serif Display;
   font-size:70px;
   font-weight: 600;
   color: #292F36;
   margin-bottom: -15px;
  }

  .pricing1-card1 h1{
   color:#CDA274;
  }

  .pricing1-card0 h1 span,
  .pricing1-card1 h1 span,
  .pricing1-card2 h1 span{
    font-family: DM Serif Display;
    font-size: 18px;
    font-weight:600;
    color: #292F36;
   
   }

  .pricing1-card0 hr,
  .pricing1-card2 hr{
   background-color: #CDA274;
   height: 2px;
   margin-top: 15px;
  }
  .pricing1-card1 hr{
   background-color: #292F36;
   height: 2px;
   margin-top: 15px;
  }

  .pricing1-card1 h6{
   background-color: #292F36;
   color: #dddbdb;
   border-radius: 8px;
   padding: 2px;
   font-size: xx-small;
   max-width: 80%;
   margin-left: 16px;
   margin-top: -10px;
  }
  
  .pricing1-timeUnit{
   color: #292F36;
   font-weight: 600;
   
  }
  .pricing1-feature {
      align-items: center;
      font-size: 12px;
      margin: 5px;
      margin-top: 20px;
    } 

    .pricing-card-button0,
    .pricing-card-button1,
    .pricing-card-button2{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      margin-top:40px;
      padding: 6px;
      border-radius: 12px;
      gap: 10px;
      background-color: #CDA274;
   }
   

   .pricing-card-button1{
      background-color: #292F36;
      margin-top: 31px; 
   }

   .pricing-card-button0 span,
   .pricing-card-button2 span{
    font-family: Jost;
    font-size: 18px;
    font-weight:600;
    color: #FFFFFF;
   }
   .pricing-card-button1 span{
    font-family: Jost;
    font-size: 18px;
    font-weight:600;
    color: #FFFFFF;
   }

   .pricing-card-button0 img,
   .pricing-card-button1 img,
   .pricing-card-button2 img{
    width:15.14px;
    height:13.18px;
    margin-top:7px ;
   }
   .pricing-card-button3 img{
    background-color: #CDA274;
   }

   /* @media screen and (max-width: 980px) {
    .pricing1-cards{
        display: flex;
        flex-direction: column;
    }
    .pricingCard {
      width: 266px;
      margin: 20px auto;
    }
  
    .pricing-card-button {
      margin-top: 20px;
    }
  }
   @media screen and (max-width: 680px) {
    .pricing1-cards{
        display: flex;
        flex-direction: column;
    }
    .pricingCard {
      width: 266px;
      margin: 20px auto;
    }
  
    .pricing-card-button {
      margin-top: 20px;
    }
  } */