.pricing-container{
    padding: 10px;
    text-align: center;
    margin-top: 70px;  
}
.head{
    text-align: center;
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    color: #1e2125;
}
.head p{
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    color: #4D5053;
    text-align: center;
}
