.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay.open {
  display: flex;
}

.modal-overlay.closed {
  display: none;
}
.modal {
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 80%;
  z-index: 20;
}

.modal-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

h2 {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.modal-poster,
.modal-content {
  width: 50%;
}
.modal-poster {
  background: #fff;
}
.modal-poster img {
  width: 50%;
}
.modal-closeBtn {
  img {
    width: 13px;
    transition: 0.4s;
  }
  & img:active {
    transform: rotate(45deg) scale(0.9);
  }
}
