
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Basemodal {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  height: 450px;
  max-width: 750px;
  position: relative;
  width: 85%;
  z-index: 20;
  overflow: hidden;
}
/*head of modal*/
.modal-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.modal-closeBtn {
  height: 0;
  img {
    width: 13px;
    transition: 0.4s;
  }
  & img:active {
    transform: rotate(45deg) scale(0.9);
  }
}

.modal-poster,
.modal-content {
  width: 50%;
  height: 100%;
}
.modal-poster {
  background: var(--color-5);
}
@media (max-width: 768px) {
  .modal-poster {
    display: none !important;
  }

  .Basemodal {
    max-width: 400px;
  }
  .Basemodal .main-logo {
    color: var(--color-5);
  }
}
.modal-poster img {
  width: 60%;
}

/* content for sign-in & log-in*/
.modal-content {
  margin: auto;
  padding: 15px;
  padding-top: 20px;
  width: 85%;
  max-width: 330px;
  flex-direction: column;
/*  direction: rtl;*/
}

.modal-content h1 {
  font-weight: 800;
  font-size: 31px;
  text-align: center;
  color: var(--modal-button) !important;
  margin-top: 45px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #494949;
}

.modal-content .sub-button {
  text-align: center;
  color: #494949;
}

.modal-content .sub-button button {
  color: var(--color-3);
}

.modal-content input,
.modal-content .form-button,
.modal-content textarea,
.modal-content .website-link {
  outline: none;
  border: solid 1px #bbbbbb69 !important;
  border-radius: 3px;
  box-shadow: 0 2px 3px #5b5b5b21 !important;
  padding: 5px 8px;
  transition: var(--transition);
  background-color: white  !important;
  color: #494949 !important;
}

.modal-content input:focus {
  border: solid 1px var(--modal-button) !important;
}
.modal-content .form-button {
  background: var(--modal-button) !important;
  color: white  !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.modal-content .form-button:active {
  box-shadow: 0 0 0 transparent;
  transform: scale(0.96);
}
.button-2 {
  background: var(--color-5) !important;
}
.message-error{
  color:#d71616e3 ;
}

.verification-message{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
}
.verification-message p{
  color: #222222de;
  text-align: center;
}