.statistics1 {
  background: var(--website-color-4);
}
.statistics1-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.statistics1-card {
  width: 200px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: solid 1px var(--website-color-2);
}
.statistics1-card:last-child {
  border: none;
}
.statistics1-card-value {
  font-weight: 600;
  color: var(--website-color-2);
  margin-bottom: 10px;
  font-size: 6em;
}
.statistics1-card-title {
  color: var(--website-color-5);
  font-weight: 400;
  letter-spacing: 0.22px;
  text-align: center;
  font-size: 0.9em;
}
@media (max-width: 768px) {
  .statistics1-cards {
    display: flex;
    flex-direction: column;
  }
  .statistics1-card {
    padding: 15px;
    border: solid 1px var(--website-color-2);
    border-radius: 5px;
  }
  .statistics1-card:last-child {
    border: solid 1px var(--website-color-2);
  }
}
