.services5{
    padding: 4rem 0 2rem;
    background: var(--website-5-color-2);
}

.services5-mainSection{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.services5-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align:center;
    gap: 1.5rem;
    justify-content: center;
}

.services5-title h2{
    font-size: 25px;
    padding: 1rem 0;
    /* color: var(--website-5-black); */
}

.services5-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* max-width: 80%; */
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: auto;
    margin-top: 3rem;
}

.services5-singleCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--website-5-color-5);
    padding: 3rem 2rem;
    border-radius: 10rem;
    gap: 1rem;
    text-align: center;
    margin: auto;
    width: 90%;
    max-width: 250px;
    min-height: 320px;
}
.services5-singleCard p{
    font-size: 13px;
    color: var(--website-5-color-6);
    line-height: 22px;
}

.cardIconDiv0,
.cardIconDiv1,
.cardIconDiv2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 60px;
    padding: 1rem;
    border-radius: 3rem;
}

.cardIconDiv0{
    background: var(--website-5-color-1);
}
.cardIconDiv1{
    background: var(--website-5-color-3);
}
.cardIconDiv2{
    background: var(--website-5-color-4);
}

.cardIcon{
    width: 25px;
   color: var(--website-5-color-5); 
}

.cardtitle{
    /* color: var(--website-5-black); */
    font-weight: 800;
}

.services5-btn{
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background: var(--website-5-color-1);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--website-5-color-5);
}

.services5-btn:hover{
    opacity: 0.8;
}

@media screen and (min-width: 570px){
    .services5-title{
        flex-direction: row;
    }
    .services5-title h2{
        text-align: center ;
        max-width:500px;
    }
}
@media screen and (min-width: 768px){
    .services5-title{
        display: flex;
        width: 90%;
        margin: auto;
        align-items: center;
    }

    .services5-title h2{
        font-size: 27px;
        text-align: center
    }

}