.nav12 {
  width: 100%;
  background: var(--website-12-color-1);
  color: var(--website-1-color-1);
  padding: 4px 0;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 90px;
}

.logo12 {
  width: 180px;
}

.nav12 ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

.dark-nav12 {
  background: var(--website-12-color-2);
  transition: 0.5s;
}

.menu-icon12 {
  display: none;
}

/* Media query */
@media (max-width: 1000px) {
  .logo12 {
    width: 140px;
  }

  .nav12 ul li {
    margin: 10px 15px;
  }
}

@media (max-width: 843px) {
  .nav12 {
    padding: 15px 0;
  }

  .nav12 ul {
    position: absolute;
    top: 3rem;
    right: 0;
    background: var(--website-12-color-2);
    z-index: -1;
    width: 200px;
    transition: 0.5s;
  }

  .nav12 ul li {
    display: block;
    margin: 25px 40px;
  }

  .menu-icon12 {
    display: block;
    width: 30px;
    cursor: pointer;
    margin-left: 10rem;
    margin-top: -2rem;
  }

  .mobile-menu-closed {
    display: none;
  }

  .mobile-menu-open {
    display: block;
  }
}
