.testimonials3 {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
  padding-top: 6rem;
  background: var(--appColor3);
}
.left-t3 {
  display: flex;
  flex: 1 1;
  gap: 2rem;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--website-3-color-1);
}
.left-t3 > :nth-child(1) {
  color: var(--orange3);
  font-weight: bold;
}
.left-t3 > :nth-child(2),
.left-t3 > :nth-child(3) {
  font-weight: bold;
  font-size: 3rem;
}
.left-t3 > :nth-child(4) {
  text-decoration: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}
.right-t3 {
  flex: 1;
  position: relative;
}
.right-t3 > img {
  position: absolute;
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  right: 8rem;
  top: 2rem;
}
.right-t3 > :nth-child(1) {
  position: absolute;
  width: 17rem;
  height: 20rem;
  border: 2px solid var(--orange3);
  background-color: transparent;
  right: 9rem;
  top: 0.9rem;
}
.right-t3 > :nth-child(2) {
  position: absolute;
  width: 17rem;
  height: 19rem;
  right: 7rem;
  top: 4rem;
  /* background: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%); */
  background: var(--planCard3);
}
.t3-arrows {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}
.t3-arrows > img {
  width: 1.5rem;
  cursor: pointer;
}

/* res mobile */
@media screen and (max-width: 768px) {
  .testimonials3 {
    flex-direction: column;
  }
  .left-t3 > :nth-child(2),
  .left-t3 > :nth-child(3) {
    font-size: xx-large;
  }
  .right-t3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .right-t3 > div {
    position: relative;
    display: none;
  }
  .right-t3 > img {
    top: 0;
    right: 0;
    position: relative;
    align-self: center;
  }
  .right-t3 > :last-child {
    display: flex;
    bottom: 0;
    left: 0;
  }
}
