.testimonials11 {
  /* max-width: 700px; */
  margin: auto;
  /* background-color: var(--website-11-color-2); */
}

.testimonials__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: var(--website-11-color-2); */
}

.testimonials__item11 {
  text-align: center;
  padding: 0 1.25rem 1.25rem;
  flex: 0 0 100%; /* Full width on small screens, 33.333% on larger screens */
}

@media (min-width: 768px) {
  .testimonials__item11 {
    flex: 0 0 33.333%; /* Show three items per row on larger screens */
  }
}

.thumb11 {
  height: 5.6rem;
  width: 5.6rem;
  margin: 0 auto;
}

.testimonials__title11 {
  margin-top: 0.75rem;
}

.subtitle11 {
  color: var(--move);
  font-size: var(--small-font-size);
}

.comment11 {
  background-color: var(--website-11-color-2);
  padding: 1.875rem;
  margin-top: 1.5rem;
  box-shadow: var(--shadow);
  position: relative;
  border-radius: var(--border-radius);
}

.comment11::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--website-11-color-2);
  position: absolute;
  left: 49.5%;
  top: -0.625rem;
  transform: translateX(-7.5px);
}
