.footer3-container {
  position: relative;
  margin-top: 6rem;
}
.footer3-container > hr {
  border: 1px solid var(--lightgray);
}
.footer3 {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.scoil-links-f3 {
  display: flex;
  gap: 4rem;
}
.scoil-links-f3 > img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.logo-f3 > img {
  width: 10rem;
}
.blur-f-1 {
  bottom: 0;
  right: 15px;
  width: 26rem;
  height: 12rem;
  filter: blur(200px);
  background: red;
}
.blur-f-2 {
  bottom: 0;
  left: 15px;
  width: 26rem;
  height: 12rem;
  filter: blur(200px);
  background: rgb(255, 115, 0);
}
