.blog__container11 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
  text-align: center;
  padding: 1.875rem;
  width: 100%;
}

.blog__card11 {
  flex: 0 0 calc(33.333% - 1.875rem);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 1.875rem;
}

@media screen and (max-width: 1024px) {
  .blog__container11 {
    justify-content: flex-start;
  }

  .blog__card11 {
    flex: 0 0 calc(100% - 1.875rem);
  }
}
.blog__container11 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
  text-align: center;
  padding: 1.875rem;
  width: 100%;
}

.blog__card11 {
  flex: 0 0 calc(33.333% - 1.875rem);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.blog__thumb11 {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.blog__img11 {
  transform: scale(1);
  transition: 0.3s;
}

.blog__thumb11:hover .blog__img11 {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .blog__container11 {
    justify-content: flex-start;
  }

  .blog__card11 {
    flex: 0 0 calc(100% - 1.875rem);
  }
}
