:root {
  --color-1: #430c7b;
  --color-2: #30086b;
  --color-3: #ce79cc;
  --color-4: #fdc2b8;
  --transition: 0.4s;

  --title-light: white;
  --title-dark: #3d3d3d;
  --discription-light: #f7f7f7b5;
  --discription-dark: #444d5c;
}

.main-steps .container {
  padding-block: 20px;
  position: relative;
}

.main-steps .container::after {
  content: "";
  height: calc(100% - 95px);
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  border: dashed 1px #430c7b40;
}

.main-steps .step-card {
  position: relative;
  counter-increment: stepcounter;
  margin-block: 55px;
}

.main-steps .step-card:nth-child(odd) {
  flex-direction: row-reverse;
}
.step-description {
  font-size: 22px;
  color: var(--discription-dark);
  line-height: 1.8;
}
@media (max-width:767px){
  .step-description {
    font-size: 20px;
  }
}
@media(max-width:375px){
  .step-description {
    font-size: 15px;
  }
}
.step-title {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 32px;
  color: var(--title-dark);
}
.main-steps .step-card::before {
  content: counter(stepcounter);
  height: 30px;
  width: 30px;
  background: var(--color-2);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50%;
  outline: solid 10px white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*.step-title:after {
  display: none;
}*/
.main-steps .step-img,
.main-steps .step-info {
  width: 40%;
  flex-shrink: 0;
}

.step-img img {
  width: 80%;
  margin: auto;
}

@media (max-width: 991px) {
  .step-card,
  .step-card:nth-child(odd) {
    flex-direction: column-reverse !important;
    gap: 20px;
  }
  .main-steps .step-img,
  .main-steps .step-info {
    width: auto;
  }
  .step-img img {
    width: 40%;
    margin: auto;
  }
  .main-steps .container::after {
    display: none;
  }
  .step-card{
  padding-top: 60px;
  }
/*  .step-card::before {
    display: none !important;
  }
  
  .main-steps .step-card::after{
    width: 200px;
    height: 1px;
    background: #30086b4b;
    position: absolute;
    top: 15px;
    content: "";
    transform: translatex(-50%);
    left: 50%;
  }*/
  .step-info {
    text-align: center;
  }/*
  .step-title:after {
    position: absolute;
    left: -33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    top: auto;
    font-weight: 400;
    width: 25px;
    height: 25px;
  }
  .step-title {
    width: fit-content;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
  }
*/}
