.main-steps .container {
  padding-block: 20px;
  position: relative;
  &::after {
    content: "";
    height: calc(100% - 40px);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: dashed 1px black;
  }
}
.main-steps .step-card {
  position: relative;
}
.main-steps .step-img,
.main-steps .step-info {
  width: 40%;
  flex-shrink: 0;
}
.step-title {
  padding-bottom: 15px;
}
