.projects {
  background: #fff;
}
.projects1-header{
  text-align: center;
  margin: 0 auto 30px auto;
  max-width: 700px;
}
.projects1-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}


.projects1-card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  max-width: 350px;
}

.projects1-card-img img {
  width: 100%;
  display: block;
}
.projects1-card-img{
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
@media (min-width: 767px) and (max-width: 1200px) {
  .projects1-card:first-child .projects1-card-img{
    border-top-right-radius: 25px;
  }
  .projects1-card:nth-child(2) .projects1-card-img {
    border-top-left-radius: 25px;
  }
  .projects1-card:nth-child(3) .projects1-card-img{
    border-bottom-right-radius: 25px;
  }
  .projects1-card:nth-child(4) .projects1-card-img{
    border-bottom-left-radius: 25px;
  }
}

@media (max-width: 768px) {
  .projects1-card-img {
    border-radius: 25px;
  }
}
@media (min-width: 1199px) {
  .projects1-card-img{
    border-radius: 25px;
  }
}
.projects1-card-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.projects1-card-details{
  width: calc(100% - 50px);
}
.projects1-card-info h1 {
  color: var(--website-color-3);
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 8px;
}
.projects1-card-info p {
  color:  var(--grey);
}


.projects1-card-link{
  text-decoration: none;
  background: var(--website-color-4);
  color: var(--website-color-3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
