nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex; */
  bottom: 2.5rem;
  gap: 0.8rem;
  display: flex;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  padding: 0.9rem;
  background: transparent;
  display: flex;
  color: var(--color-2-light);
  font-size: 1.1rem;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-2-bg);
  color: var(--color-2-white);
  border-radius: 50%;
}
