.nav2 {
  background: linear-gradient(to right, var(--website-2-color-3), var(--website-2-color-4));
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3rem;
  padding: 0.7rem 1rem;
  gap: 0.8rem;
  max-width: 30rem;
  z-index: 2;
}

.nav2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--website-2-color-5);
  font-size: 1.1rem;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.nav2 a:hover {
  background-color: var(--website-2-color-6);
}

.nav2 a.active {
  background: var(--website-2-color-5);
}

.nav-icon {
  width: 1.5rem; /* Adjust icon size as needed */
  height: auto;
  margin-right: 0.5rem; /* Add spacing between icon and text */
}

@media screen and (max-width: 600px) {
  .nav2 {
    padding: 0.6rem;
    max-width: 100%;
  }
}
