.design2-navbar {
  background: var(--color-2-nav);
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex; */
  bottom: 2.5rem;
  gap: 0.8rem;
  display: flex;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  max-width: 30rem;
}

.design2-navbar a {
  padding: 0.9rem;
  background: transparent;
  display: flex;
  color: var(--color-2-light);
  font-size: 1.1rem;
  /* width: 50%; */
}
.design2-navbar a:hover {
  background-color: var(--color-2-grey);
}

.design2-navbar a.active {
  background: var(--color-2-primary-variant);
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .design2-navbar a {
    padding: 0%;
  }
  .design2-navbar a:hover {
    background-color: var(--color-2-white);
  }
  .design2-navbar a.active {
    background: var(--color-2-primary);
  }
}
