.nav2 {
  background: var(--color-2-nav);
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  bottom: 2.5rem;
  gap: 0.8rem;
  display: flex;
  border-radius: 3rem;
  max-width: 30rem;
}

.nav2 a {
  padding: 0.9rem;
  background: transparent;
  display: flex;
  color: var(--color-2-white);
  font-size: 1.1rem;
}
.nav2 a:hover {
  background-color: var(--color-2-grey);
}

.nav2 a.active {
  background: var(--color-2-primary);
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .nav2 a {
    padding: 0%;
  }
  .nav2 a:hover {
    background-color: var(--color-2-white);
  }
  .nav2 a.active {
    background: var(--color-2-primary);
  }
}
