.Projects3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.Project3-header {
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: var(--website-3-color-1);
  text-transform: uppercase;
  font-style: italic;
  margin-top: 5rem;
}
.project3-categories {
  display: flex;
  gap: 1rem;
}
.category {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  padding: 2rem;
  margin: 2rem 0.4rem;
  gap: 1rem;
  color: var(--website-3-color-1);
  justify-content: space-evenly;
}
.category > :nth-child(1) {
  width: 2rem;
  height: 2rem;
  fill: var(--website-3-color-1);
}
.category > :nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}
.category > :nth-child(3) {
  font-size: 0.9rem;
  line-height: 25px;
}
.join-now {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.join-now > img {
  width: 1rem;
}
.category:hover {
  background: var(--planCard);
  cursor: pointer;
}

/* res mobile */
@media screen and (max-width: 768px) {
  .Project3-header {
    flex-direction: column;
    gap: 1rem;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;
  }
  .project3-categories {
    flex-direction: column;
  }
}
