/* ai form */
.ai-form-title {
  font-weight: 800;
  font-size: 17px;
  text-transform: capitalize;
  text-align: start;
  margin: 25px 0 10px 0;
  color: #494949 !important;
}
.ai-form-description {
  text-align: start;
  text-transform: uppercase;
  font-size: 13px;
  color: #494949b6 !important;
}

.modal-content textarea {
  resize: none;
  margin-block: 15px;
  text-align: start;
  outline: none;
}
