.Reasons3 {
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
  padding-top: 5rem;
  background: var(--appColor3);
}
.left-r3 {
  flex: 1 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: 1fr;
}
.left-r3 > img {
  object-fit: cover;
}
.left-r3 > :nth-child(1) {
  width: 12rem;
  grid-row: 1/3;
  height: 28rem;
}
.left-r3 > :nth-child(2) {
  width: auto;
  height: 16rem;
  grid-column: 2/4;
}
.left-r3 > :nth-child(3) {
  width: 14rem;
  grid-column: 2/3;
  grid-row: 2;
}
.left-r3 > :nth-child(4) {
  width: 10rem;
  grid-row: 2;
  grid-column: 3/4;
  height: 11.2rem;
}
.right-r3 {
  flex: 1 1;
  text-transform: uppercase;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.right-r3 > span {
  font-weight: bold;
  color: var(--orange);
}
.right-r3 > div {
  color: var(--website-3-color-1);
  font-size: 3rem;
  font-weight: bold;
}
.details-r3 {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.details-r3 > div {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}
.details-r3 > div > img {
  width: 2rem;
  height: 2rem;
}
.details-r3 > div > img {
  width: 2rem;
  height: 2rem;
}
.partners3 {
  display: flex;
  gap: 1rem;
}
.partners3 > img {
  width: 2.5rem;
}

/* res mobile */
@media screen and (max-width: 768px) {
  .Reasons3 {
    flex-direction: column;
  }
  .left-r3 {
    grid-auto-rows: auto;
    overflow: hidden;
  }
  .left-r3 > :nth-child(1) {
    width: 7rem;
    height: 17rem;
  }
  .left-r3 > :nth-child(2) {
    width: 15rem;
    height: 10rem;
  }
  .left-r3 > :nth-child(3) {
    width: 7rem;
  }
  .left-r3 > :nth-child(4) {
    width: 7rem;
    height: 6rem;
  }
  .stroke-text {
    font-size: 30px;
  }
}
