.design-card {
  max-width: 250px;
  background: #ffffff;
}
.design-Img-container {
  height: 250px;
  overflow: hidden;
  border-radius: inherit;
  position: relative;
  transition: 0.4s;
}
.Preview-button {
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #44444440;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-168px, -50%);
    transition: 0.4s;
}
.design-card:hover .Preview-button {
  transform: translate(-50%, -50%);
}
.Build-button {
  /* flex: 1; */
  background: #481b91;
  color: white;
  width: 100%;
}

/* .designs-title {
  margin-block: 8px;
  color: whitesmoke;
  font-size: 19px;
}
.designs-description {
  color: rgba(255, 255, 255, 0.767);
} */
