:root {
  --color-1: #430c7b;
  --color-2: #30086b;
  --color-3: #ce79cc;
  --color-4: #fdc2b8;
  --transition: 0.4s;

  --title-light: white;
  --title-dark: #1f1f1f;
  --discription-light: rgb(229 231 235);
  --discription-dark: #838383;
}

.design-card {
  max-width: 270px;
  background: #ffffff;
  position: relative;
  align-items: stretch !important;
  justify-content: space-between !important;
}
h2.designs-title {
  font-family: system-ui;
  font-weight: bolder;
}
.design-Img-container {
  height: 250px;
  overflow: hidden;
}
.design-card-button{
  transition: var(--transition);
  width: 100%;
}
.design-card-button:active {
  transform: scale(0.95);
}
.button-container{
  border-top: solid 1px #22222247;
  margin-top: 15px;
  font-weight: 700;
}
.Build-button {
  color: var(--color-2);
}

.Build-button:hover {
  color: #42158b;
}
.Preview-button {
  color: var(--color-3);
}

.Preview-button:hover {
  color: #b963b8;
}
.designs-container {
  margin-top: 4rem;
}
.design-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.designs-title{
  color: var(--title-dark);
  font-size: 22px;
}
.designs-description {
  color: var(--discription-dark);
}
