.hero3{
  display: flex;
  justify-content: space-between; 
}
.left-h{
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.right-h{
  flex: 1;
  position: relative;
  background-color: var(--orange) ;
}
.the-best-ad{
  margin-top: 4rem;
  /* background-color: #363d42; */
  background-color: var(--darkGrey);
  border-radius: 4rem;
  width: fit-content;
  padding: 16px 11px;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.the-best-ad>span{
  z-index: 1;
  font-size: 18px;
}
.the-best-ad>div{
  position: absolute;
  background-color: var(--orange);
  width: 5.4rem ;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
  z-index: 1;
}
.hero3-text{
display: flex;
flex-direction: column;
text-transform: uppercase;
font-size: 4.4rem;
font-weight:700;
color: white;
text-overflow: inherit;
}

.hero3-text>div:nth-of-type(3){
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
  
}
.figures{
  display: flex;
  gap: 2rem;
}
.figures>div{
  display: flex;
  flex-direction: column;
}
.figures>div>span:nth-of-type(1){
  color: white;
  font-size: 2rem;
}
.figures>div>span:nth-of-type(2){
  /* color: gray; */
  color: gray;
  text-transform: uppercase;
}
.btn{
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4ps solid transparent;
  transition: 300ms all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover{
  cursor: pointer;
}
.hero3-button{
  display: flex;
  gap: 1rem;
  font-weight: normal;
  margin-bottom: 0.1rem;
}
.hero3-button>:nth-child(1){
  color: white;
  background-color: var(--orange);
  width: 8rem;
}
.hero3-button>:nth-child(2){
  color: white;
  background-color: transparent;
  width: 8rem;
  border:2px solid var(--orange);
}

.right-h>.btn{
  position: absolute;
  right: 3rem;
  top:2rem;
  color: black;
}
.heart-rate{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: #464d53; */
  background-color: var(--darkGrey);
  width: fit-content;
  padding: 1rem;
  align-items: start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top:7rem;
}
.heart-rate>img{
  width: 2rem;
}
.heart-rate>:nth-of-type(1){
  color: gray;
}
.heart-rate>:nth-of-type(2){
  color: white;
  font-size: 1.5rem;
}
.hero-image{
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 23rem;
  z-index: 2;

}
.hero-image-back{
  position: absolute;
  top: 4rem;
  right: 20rem;
  z-index:1 ;
  width: 15rem;
}
.calories{
  display: flex;
  gap: 2rem;
  background-color: var(--caloryCard);
  border-radius: 5px;
  padding: 1rem;
  width: fit-content;
  position: absolute;
  width: 175px;
  height: 135px;
  top: 32rem;
  right: 28rem;
}
.calories>img{
  width: 3rem;
}
.calories > div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.calories > div>:nth-of-type(1){
  color: gray;
}
.calories>div>:nth-of-type(2){
  color: white;
  font-size: 1.5rem;
}
.hero-blur{
  width: 22rem;
  height: 30rem;
  left: 0;
}

/* res mobile */
/* res mobile hero3 sec*/
@media screen and (max-width:768px){
  .hero3{
    flex-direction: column;
  }
  .hero-blur{
    width: 14rem;
  }
  .the-best-ad{
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }
  .hero3-text{
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .hero3-text>div:nth-of-type(3){
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }
  .hero3-button{
    justify-content: center;
  }
  .figures >div>span:nth-of-type(1){
    font-size: large;
  }
  .figures >div>span:nth-of-type(2){
    font-size: small;
  }

  .right-h{
    position: relative;
    background: none;
  }
  .right-h>button{
    z-index: 2;
  }
  .heart-rate{
    left: 1rem;
    top: 4rem;
    z-index: 2;
  }
  .calories{
    position: relative;
    top: 6rem;
    left: 2rem;
    width: 200px;
    height: 70px;
  }
  .calories>img{
    width: 2rem;
  }
  .calories>div>:nth-child(2){
    color: white;
    font-size: 1rem;

  }
  .hero-image{
    position: relative;
    width: 14rem;
    left: 8rem;
    top: 5rem;
    align-self: center;
  }
  .hero-image-back{
    width: 13rem;
    left: 4rem;
    top: 2rem;
  }
}




