.hero3 {
  display: flex;
  justify-content: space-between;
}
.left-h {
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.right-h {
  flex: 1;
  position: relative;
  background-color: var(--orange);
}
.the-best-ad {
  margin-top: 4rem;
  background-color: var(--darkGrey);
  border-radius: 4rem;
  width: fit-content;
  padding: 16px 11px;
  text-transform: uppercase;
  color: var(--website-3-color-1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.the-best-ad > span {
  z-index: 1;
  font-size: 18px;
}
.the-best-ad > div {
  position: absolute;
  background-color: var(--orange);
  width: 5.4rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
  z-index: 1;
}
.hero3-text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 4.4rem;
  font-weight: 700;
  color: var(--website-3-color-1);
  text-overflow: inherit;
}

.hero3-text > div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}
.figures {
  display: flex;
  gap: 2rem;
}
.figures > div {
  display: flex;
  flex-direction: column;
}
.figures > div > span:nth-of-type(1) {
  color: var(--website-3-color-1);
  font-size: 2rem;
}
.figures > div > span:nth-of-type(2) {
  color: var(--gray);
  text-transform: uppercase;
}
.btn {
  background-color: var(--website-3-color-1);
  padding: 0.5rem;
  font-weight: bold;
  border: 4ps solid transparent;
  transition: 300ms all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
}
.hero3-button {
  display: flex;
  gap: 1rem;
  font-weight: normal;
  margin-bottom: 0.1rem;
}
.hero3-button > :nth-child(1) {
  color: var(--website-3-color-1);
  background-color: var(--orange);
  width: 8rem;
}
.hero3-button > :nth-child(2) {
  color: var(--website-3-color-1);
  background-color: transparent;
  width: 8rem;
  border: 2px solid var(--orange);
}

.right-h > .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: var(--black);
}
.hero-image {
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 23rem;
  z-index: 2;
}
.hero-image-back1 {
  position: absolute;
  top: 30%;
  right: 16rem;
  width: 400px;
  height: 200px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border: 10px solid var(--darkOrange);
  border-bottom: 0;
  transform: rotate(272deg);
}
.hero-image-back2 {
  position: absolute;
  top: 32.5%;
  right: 18rem;
  width: 300px;
  height: 150px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border: 10px solid var(--darkOrange);
  border-bottom: 0;
  transform: rotate(272deg);
}

.hero-blur {
  width: 22rem;
  height: 30rem;
  left: 0;
}

/* res mobile hero3 sec*/
@media screen and (max-width: 768px) {
  .hero3 {
    flex-direction: column;
  }
  .hero-blur {
    width: 14rem;
  }
  .the-best-ad {
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }
  .hero3-text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .hero3-text > div:nth-of-type(3) {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }
  .hero3-button {
    justify-content: center;
  }
  .figures > div > span:nth-of-type(1) {
    font-size: large;
  }
  .figures > div > span:nth-of-type(2) {
    font-size: small;
  }

  .right-h {
    position: relative;
    background: none;
  }
  .right-h > button {
    z-index: 2;
  }
  .hero-image {
    position: relative;
    width: 14rem;
    left: 8rem;
    top: 5rem;
    align-self: center;
  }
  .hero-image-back1 {
    position: absolute;
    width: 22rem;
    right: 3rem;
    top: 8rem;
  }
}
