.reservation16 {
  background: var(--container-color);
  padding: 2.5rem;
}

.reservation16,
.reservation__form16 {
  position: relative;
}

.reservation__form16 {
  grid-template-columns: repeat(3, 1fr);
  z-index: 10;
}

.form__input-textarea16,
.reservation__btn16 {
  grid-column: 1/-1;
}

.form__input16 {
  width: 100%;
  color: var(--title-color);
  background-color: var(--bg-color);
  border: 1px solid var(--first-color-light);
  padding: 1rem 1.25rem;
}

.reservation16,
.form__input16 {
  border-radius: var(--radius);
}

.form__input16::placeholder {
  color: var(--first-color-light);
}

.form__input-textarea16 .form__input16 {
  height: 128px;
  resize: none;
}

.reservation__btn16 {
  justify-self: center;
}

.shape__two16,
.shape__three16 {
  position: absolute;
  width: 180px;
}
.shape__two16 {
  right: 1.25rem;
  top: 2.5rem;
}
.shape__three16 {
  left: 1.25rem;
  bottom: 0.25rem;
}

/* MEDIA QUERY */

@media only screen and (max-width: 992px) {
  .reservation__form16 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .reservation__form16 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 350px) {
  .reservation16 {
    padding: 1.5rem 1.25rem;
  }
}
