.Testimonials1 {
  background: white;
  max-width: 100%;
  /* height: auto; */
}
.testimonials {
  background-color: var(--website-1-color-4);
  text-align: center;
  max-width: 1300px;
  margin: 0.5rem auto;
  padding: 80px 0px;
  border-radius: 30px;
  gap: 38px;
  display: flex;
  flex-direction: column;
}
.Testimonials__title {
  color: var(--website-1-color-3);
  text-align: center;
  /* font-family: "DM Serif Display"; */
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.testimonials-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: auto;
  height: 300ppx;
}
.testimonials-card {
  background-color: var(--website-1-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  border-radius: 20px;
  padding: 58px 37px 85px 37px;
  gap: 25px;
  border: 0.5px solid var(--website-1-color-2);
  height: 339px;
}

.testimonials-card-header {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  padding-right: 70px;
  gap: 20px;
  text-align: start;
}

.testimonials-card-header-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.testimonials-card-body {
  color: var(--website-1-color-3);
  /* font-family: Jost; */
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 370px;
}

@media screen and (max-width: 527px) {
  .testimonials {
    max-width: 100%;
  }
  .testimonials-cards {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    /* max-width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem auto;
    gap: 20px;
    display: flex;
    padding: auto; */
  }
  .Testimonials__title {
    max-width: 100%;
    font-size: 40px;
  }
  .testimonials-card-header {
    max-width: 100%;
    font-size: small;
    padding-top: 30px;
  }

  .testimonials-card {
    /* padding: auto; */
  }
  .testimonials-card-header {
    /* padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto; */
  }
  .testimonials-card-body {
    /* font-size: 20px;

    text-align: start; */
  }
}
.infotest1{
  color: var(--website-1-color-3);
}