 

.Testimonials-container {
  background-color: #F4F0EC;
   border-radius: 30px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    flex-wrap: wrap;
width: 90%;
padding:5rem 0 ;
margin: 0 auto;
    
}
.contentt{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Testimonials-heading {
  margin-top: 88px;
  width: 100%;
  max-width: 547px;
  text-align: center;
  margin: auto;
}

.Testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.testimonial {
  
  border-radius: 10px;
  max-width: 100%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
}

.Testimonial__background {
  background-size: cover;
  background-position: center;
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Testimonial__details {
  text-align: center;
flex-direction: row;}

.Testimonial__person-img {
  display: flex;
  right: auto;
  /* border-radius: 50%; */
  width: 60px;
  height: 60px;
  padding-top: 1rem;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.testimonial h1 {
  margin: 0;
}

.testimonial p {
  padding: 10px;
  border-radius: 10px;
}

.Testimonials-heading h1 {
  color: #292F36;
  font-family: 'DM Serif Display';
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}

.testimonial .lorem-ipsum {
  width: 100%;
  max-width: 360px;
  color: #555555;
  font-family: 'Jost';
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  height: auto;
  word-wrap: break-word;
}
@media screen and (max-width: 600px) {
  .Testimonials-container{
    max-width: 300px;
justify-content: center;
     /* padding: 0rem 40px 5rem 20px; */


  }
  .Testimonials {
    flex-direction: column; 
    display: flex; 
    width: 100%;
justify-content: center;    
max-width: 90%;
   }

  .testimonial {
    width: 90%;  
    padding: 0rem 0px 5rem 2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
     
  }

   
}

  
@media screen and (min-width: 650px) and (max-width: 1200px) {
  .Testimonials-container{
max-width: 70%; 
max-height: fit-content;
 }
 .contentt{
  max-width: 100%;
 }
 .Testimonials-container{
  max-width: fit-content;

 }
 .Testimonials-heading h1{
  max-width: fit-content;
 }

.Testimonials{
  max-width: 100%;
}
}

