.testimonials {
  background-color: var(--website-color-4);
  text-align: center;
  max-width: 1300px;
  margin: 0.5rem auto;
  padding: 80px 0px;
  border-radius: 30px;
  gap: 38px;
  display: flex;
  flex-direction: column;
}
.Testimonials__title {
  color: var(--website-color-3);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.testimonials-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: auto;
}
.testimonials-card {
  background-color: var(--website-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  border-radius: 20px;
  padding: 58px 37px 85px 37px;
  gap: 25px;
  border: 0.5px solid var(--website-color-2);
  height: 339px;
}

.testimonials-card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 70px;
  gap: 20px;
  text-align: justify;
}

.testimonials-card-header-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.testimonials-card-body {
  color: var(--website-color-3);
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 370px;
}

@media screen and (max-width: 527px) {
  .testimonials {
    max-width: 80%;
    margin: 0.5rem auto;
    height: 60%;
  }
  .testimonials-cards {
    max-width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem auto;
  }
  .Testimonials__title {
    font-size: 40px;
  }
  .testimonials-card-header {
    padding: auto;
    max-width: 80%;
  }
  .testimonials-card-header img {
    max-width: 50px;
  }
  .testimonials-card {
    max-width: 100%;
    font-size: smaller;
  }
}
