.services__container11_2 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
  margin-bottom: 4.357rem;
  display: flex;
  flex-wrap: wrap;
}

.services__card11_2 {
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.875rem;
  border-radius: var(--broder-radius);
  background-color: var(--website-11-color-2);
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 300px;
}

.services__card11_2:hover {
  transform: translateY(-10px);
}
.services__card11_2:nth-child(1) {
  background-color: var(--website-11-color-6);
  box-shadow: 0px 5px 20px 0px rgb(108, 108, 229/50%);
}
.services__card11_2:nth-child(2) {
  background-color: var(--website-11-color-3);
  box-shadow: 0px 5px 20px 0px rgb(249, 215, 76/50%);
}
.services__card11_2:nth-child(3) {
  background-color: var(--website-11-color-6);
  box-shadow: 0px 5px 20px 0px rgb(249, 123, 139/50%);
}
.services__img11_2 {
  margin-bottom: 1.25rem;
}
.services__title11_2 {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  color: var(--website-11-color-2) !important;
}
.services__description11_2 {
  color: var(--website-11-color-2);
}
/* .services__card11_2:nth-child(2) .services__title11_2 {
  color: var(--website-11-color-5);
}
.services__card11_2:nth-child(2) .services__description11_2 {
  color: var(--website-11-color-5);
} */

@media screen and (max-width: 1024px) {
  .services__card11_2 {
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 1.5rem;
  }

  .services__title11_2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .services__description11_2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
