.stats16 {
  background: var(--container-color);
}

.stats__grid16 {
  grid-template-columns: repeat(4, 1fr);
}

.stats__item16 {
  text-align: center;
}

.stats__img-wrapper16 {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  margin-inline: auto;
  position: relative;
}

.stats__img-wrapper16::before {
  content: "";
  position: absolute;
  left: -1.25rem;
  top: -1.25rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--first-color);
  opacity: 0.2;
  transition: 0.5s var(--transition);
}

.stats__img16 {
  width: 60px;
}

.stats__no16 {
  color: var(--title-color);
  font-size: var(--bigger-font-size);
  font-weight: var(--weight-600);
  margin-block: 1rem 0.75rem;
}

.stats__title16 {
  color: var(--first-color);
  font-size: var(--larger-font-size);
}

.stats__item16:hover .stats__img-wrapper16::before {
  left: 0;
  top: 0;
}

/* MEDIA QUERY */

@media only screen and (max-width: 992px) {
  .stats__grid16 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }
}

@media only screen and (max-width: 576px) {
  .stats__grid16 {
    grid-template-columns: 1fr;
  }
}
