.design-6 .single__feature span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background: var(--color3) !important;
}

.design-6 .single__feature:nth-child(even) span {
  background: var(--color4) !important;
}
.design-6 .choose__content h4 {
  color: var(--color5);
  margin-bottom: 15px;
}

.design-6 .single__feature h6 {
  color: var(--color4);
  margin-bottom: 0;
}

.design-6 .single__feature p {
  font-size: 0.7rem;
}

@media only screen and (max-width: 992px) {
  .design-6 .choose__content h2 {
    font-size: 1.5rem;
  }

  .design-6 .choose__content h4 {
    font-size: 1rem;
  }

  .design-6 .choose__content p {
    font-size: 0.8rem;
  }

  .design-6 .single__feature h6 {
    font-size: 0.8rem;
  }

  .design-6 .single__feature p {
    font-size: 0.6rem;
  }
}
