.Nav-container {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin: 0 auto;
  width: 100%;
}

/* Responsive Container */
/* @media (min-width: 576px) {
  .Nav-container {
    width: 100%;
  }
} */

/* @media (min-width: 768px) {
  .Nav-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .Nav-container {
    width: 970px;
  }
} */

/* @media (min-width: 1200px) {
  .Nav-container {
    width: 1170px;
  }
} */

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--website-color-1);
}

header .Nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 80px;
}

header .logo img {
  height: 30px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .toggle-menu {
  color: var(--website-color-3);
  font-size: 22px;
  cursor: pointer;
}

.toggle-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  color: var(--website-color-2);
  font-size: 22px;
}

.bar {
  background-color: var(--website-color-3);
  height: 2px;
  width: 21px;
  margin: 3px 0;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

.toggle-menu.open .bar:nth-child(2) {
  transform: translate(-7px);
}

@media (min-width: 668px) {
  header nav .toggle-menu {
    display: none;
  }
  header nav ul li a {
    padding: 15px !important;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 667px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 40%;
    opacity: 0.7;
    box-shadow: 0 2px 4px var(--website-color-2);
  }
  header nav ul li a:hover {
    color: var(--website-color-2);
  }

  header nav ul.show {
    display: flex;
    width: 170px;
  }
  header nav ul.show li a {
    text-transform: capitalize;
    padding: 10px 30px;
    color: var(--website-color-3);
    background-color: var(--website-color-1);
    font-size: 18px;
    border-bottom: 0.5px solid var(--website-color-2);
  }
  header nav ul.show li a:hover {
    background-color: var(--website-color-3);
    color: var(--website-color-2);
    border-radius: 0;
    font-weight: bold;
  }
}

header nav ul li a {
  padding: 20px 35px;
  display: block;
  color: var(--website-color-3);
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}
header nav ul li a:hover {
  background-color: var(--website-color-3);
  color: var(--website-color-2);
  border-radius: 8px;
  font-weight: bold;
}

.navbar-menu-container {
  display: none;
  cursor: pointer;
}

/* @media (max-width: 750px) {
  .navbar-menu-container {
    display: block;
  }
} */
