/* =========== google fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/* ======== base style ======= */
:root {
  --color1: #0a071a;
  --color2: #141124;
  --color3: #f76e11;
  --color4: #f5b70a;
  --color5: #fff;
  --color6: #c4c4c4b5;
}
.design-6 {
  background: var(--color1);
}
.design-6 h1,
.design-6 h2 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--color4);
}

.design-6 p {
  font-size: 1rem;
  color: var(--color6);
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

.design-6 a {
  text-decoration: none !important;
}
.nav-6 .ico,
.design-6 .ico {
  width: 18px;
}

.design-6 {
  padding: 80px 0px;
}
.design6-logo {
  width: 120px !important;
  height: auto !important;
}
