:root {
  --website-7-color-1: #232c47;
  --website-7-color-2: linear-gradient(90deg, #318a8c 0%, #5ce1e6 51.94%);
  --website-7-color-3: linear-gradient(90deg, #c014bd 0%, #fc67fa 100%);
  --website-7-color-4: linear-gradient(50deg, #3fa4a6 0%, #25797c 51.94%);
  --website-7-color-5: #46e3e9;
  --website-7-color-6: #ffffffb3;
}

.TrialDesign7 {
  background: var(--website-7-color-1);
}
.TrialDesign7 .primary {
  color: var(--website-7-color-1);
}
.TrialDesign7 .secondary {
  color: var(--website-7-color-5);
}
.TrialDesign7 .dimWhite {
  color: var(--website-7-color-6);
}
.TrialDesign7 .dimBlue {
  color: var(--website-7-color-1);
}

.TrialDesign7 ::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.footerhover7:hover {
  color: var(--website-7-color-6);
  cursor: pointer;
}

.text-gradient7 {
  /* background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%); */
  background: var(--website-7-color-5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-style: italic;
  text-fill-color: transparent;
}
.TrialDesign7 .bg-blue-gradient {
  background: var(--website-7-color-2);
}
.TrialDesign7 .bg-black-gradient {
  background: var(--website-7-color-4);
}
.TrialDesign7 .bg-black-gradient-2 {
  background: var(--website-7-color-2);
}
.TrialDesign7 .bg-gray-gradient {
  background: var(--website-7-color-6);
}
.TrialDesign7 .bg-discount-gradient {
  background: var(--website-7-color-5);
}
.TrialDesign7 .box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.TrialDesign7 .sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.TrialDesign7 .feature-card:hover {
  background: var(--website-7-color-4);
  box-shadow: var(--card-shadow);
}
.TrialDesign7 .feedback-container .feedback-card:last-child {
  margin-right: 0px;
}
.TrialDesign7 .feedback-card {
  background: transparent;
}
.TrialDesign7 .feedback-card:hover {
  background: var(--website-7-color-4);
}
.TrialDesign7 .blue__gradient {
  background: var(--website-7-color-2);
  filter: blur(123px);
}
.TrialDesign7 .pink__gradient {
  background: var(--website-7-color-3);
  filter: blur(900px);
}
.TrialDesign7 .white__gradient {
  background: var(--website-7-color-6);
  filter: blur(750px);
}
