:root {
  --appColor7: #0b132b;
  --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --text-gradient: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  --blue-gradient: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --black-gradient-2: linear-gradient(-168.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --gray-gradient: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101d 95.11%);
  --discount-gradient: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  --pink__gradient: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  --white__gradient: rgba(255, 255, 255, 0.6);
  --color-primary: #000f04;
  --color-secondary: #00f6ff;
  --color-dim-white: rgba(255, 255, 255, 0.7);
  --color-dim-blue: rgba(9, 151, 124, 0.1);
}
.TrialDesign7 {
  background: var(--appColor7);
}
.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.dimWhite {
  color: var(--color-dim-white);
}

.dimBlue {
  color: var(--color-dim-blue);
}

::-webkit-scrollbar {
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%); */
  /* --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1); */
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: var(--blue-gradient);
}

.bg-black-gradient {
  background: var(--black-gradient);
}

.bg-black-gradient-2 {
  background: var(--black-gradient-2);
}

.bg-gray-gradient {
  background: var(--gray-gradient);
}

.bg-discount-gradient {
  background: var(--discount-gradient);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: var(--blue-gradient);
  filter: blur(123px);
}

.pink__gradient {
  background: var(--pink__gradient);
  filter: blur(900px);
}

.white__gradient {
  background: var(--white__gradient);
  filter: blur(750px);
}
