@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --website-8-color-1: #000000;
  --website-8-color-2: #ffffff;

  --website-8-color-3: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  --website-8-color-4: linear-gradient(92.23deg, #406aff 21.43%, #3bace2 50.63%, #b936ee 100%, #ff56f6 117.04%);
  --website-8-color-5: #3bace2;
  --website-8-color-6: #ff56f682;
}

.design-8 {
  background-color: var(--website-8-color-1);
}
.design-8 .serviceC {
  color: var(--website-8-color-2);
}
.design-8 .btn {
  background: var(--website-8-color-3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.design-8 .btn:hover {
  background: var(--website-8-color-4);
}
.design-8 .gradient,
.design-8 .active {
  background: var(--website-8-color-4);
}
.design-8 .active {
  color: var(--website-8-color-2);
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  .design-8 {
    @apply font-secondary text-lg leading-8;
    color: var(--website-8-color-2);
  }
  .design-8 .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .design-8.h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .design-8 .btn {
    @apply rounded-full font-primary  font-medium;
    color: var(--website-8-color-2);
  }
  .design-8 .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .design-8 .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .design-8 .btn-link {
    @apply text-base;
  }
  .design-8 .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .design-8 .section8 {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
