:root {
  --website-6-main-bg-color: #ff766b;
  --website-6-secondary-bg-color: #2ace92;
  --website-6-color-2: #f5b70a;
  --website-6-additional-color: #7865ff;
  --website-6-button-bg: #0a071a;
  --website-6-color-text: #fff;
  --website-6-color-1: #141124;
  --website-6-text-color: #c4c4c4;
  --website-6-color-3: #f76e11;
  --website-6-shadow-color: #c4c4c425;
  --website-6-icon-background-color: #f76e11;
  --website-6-testimonial-bg: #000;
}
/* =========== google fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/* ======== base style ======= */


.design-6 h1,
.design-6 h2 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--website-6-color-2);
}

.design-6 p {
  font-size: 1rem;
  color: #c4c4c4;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

.design-6  a {
      text-decoration: none !important;
}
.nav-6 .ico,.design-6 .ico{
width:18px;
}
.design-6,footer{
  padding: 70px 20px;
  background: var(--website-6-button-bg);
}
footer{
  padding: 70px 0px;
  background: var(--website-6-button-bg);
}

@media only screen and (max-width: 767px) {
  .design-6{
    padding: 40px 0px;
  }
}
