@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --website-8-color-1: black;
  --website-8-color-2: #212ea0;
  --website-8-color-3: rgba(0, 15, 152, 0.3);
  --website-8-color-6: #212ea0;
}
.design-8 {
  background-color: var(--website-8-color-1);
}
.design-8 .serviceC {
  color: var(--white);
}
.design-8 .btn {
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}
.design-8 .btn:hover {
  background: linear-gradient(92.23deg, #406aff 21.43%, #3bace2 50.63%, #b936ee 100%, #ff56f6 117.04%);
}
.design-8 .gradient,
.design-8 .active {
  background: linear-gradient(92.23deg, #406aff 21.43%, #3bace2 50.63%, #b936ee 100%, #ff56f6 117.04%);
}
.design-8 .active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  .design-8 {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .design-8 .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .design-8.h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .design-8 .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .design-8 .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .design-8 .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .design-8 .btn-link {
    @apply text-base;
  }
  .design-8 .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .design-8 .section8 {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
