@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button-outline {
    @apply rounded-md border-2 border-[--website-18-color-1] hover:opacity-[1] hover:text-black duration-500 py-2 px-6 text-[--website-18-color-1] tracking-wider;
  }
}

:root {
  --website-18-color-1:#ffc727;
  --website-18-color-2: #e9f1f5;
  --website-18-color-3: #d5dae2;
  --website-18-color-4:#888883;
  --website-18-color-5:#111111;
  --website-18-color-6:#ffffff;
}

.container18 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

@media (min-width: 640px) {
  .container18 {
    max-width: 640px; 
  }
}

@media (min-width: 768px) {
  .container18 {
    max-width: 768px; 
  }
}

@media (min-width: 1024px) {
  .container18 {
    max-width: 1024px; 
  }
}
@media (min-width: 1318px) {
  .container18 {
    max-width: 1318px; 
  }
}