:root {
  --website-13-color-1: #003629;

  --website-13-color-2: #154b3b;

  --website-13-color-3: #ffffff;

  --website-13-color-4: #fbba24;

  --website-13-color-5: #fff6ed;

  --website-13-color-6: #616161;
}
