/* add here your website colors with start  --website-3   */

:root {
  --website-3-color-1: #f48915;
  --website-3-color-2: #3c3f45;
  --website-3-color-3: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --website-3-color-4: #9c9c9c;
  --website-3-color-5: #f4f0ec;
  --website-3-color-6: #656565;
}

::-webkit-scrollbar {
  display: none;
}

.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-color: var(--website-3-color-5);
  -webkit-text-stroke-width: 1px;
}

.blur3 {
  background-color: var(--website-3-color-1);
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
}

.hoverlink3:hover {
  color: var(--website-3-color-1);
}
