:root {
  --website-15-color-1: #1f2937;
  --website-15-color-2: #9b650d;
  --website-15-color-4: #262626;
  --website-15-color-5: #29a587;
  --website-15-color-6: #808080;
  --website-15-color-3: #f0ebe3;

  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backgroundcolor15 {
  color: var(--website-15-color-2);
}

.textColor15 {
  color: var(--website-15-color-3);
}

.darkTextColor15 {
  color: var(--website-15-color-4);
}

.btnHoverColor15 {
  color: var(--website-15-color-5);
}

.darkModeTextColor15 {
  color: var(--website-15-color-3);
}

.darkModeColor15 {
  color: var(--website-15-color-4);
}

.nav15 {
  background-color: var(--website-15-color-1);
}

.hero15 {
  background-color: var(--website-15-color-1);
}

/* serve15 */
.serve15 {
  background-color: var(--website-15-color-1);
}

.title15_1 {
  color: var(--website-15-color-3);
}

.title15_2 {
  color: var(--website-15-color-5);
}

.title15_3 {
  color: var(--website-15-color-3);
}

.title15_4 {
  background-color: var(--website-15-color-3);
}

.title15_5 {
  color: var(--website-15-color-4);
}

.title15_6 {
  color: var(--website-15-color-6);
}

.title15_7 {
  color: var(--website-15-color-4);
}

/* feat15 */
.feat15 {
  background-color: var(--website-15-color-1);
}

.feat15_1 {
  color: var(--website-15-color-3);
}

.feat15_2 {
  color: var(--website-15-color-5);
}

.feat15_3 {
  color: var(--website-15-color-3);
}

.feat15_4 {
  color: var(--website-15-color-5);
}

.feat15_5 {
  color: var(--website-15-color-3);
}

.feat15_6 {
  color: var(--website-15-color-5);
}

.feat15_7 {
  color: var(--website-15-color-6);
}

/* proj15 */
.proj15 {
  background-color: var(--website-15-color-1);
}

.proj15_1 {
  color: var(--website-15-color-3);
}

.proj15_2 {
  color: var(--website-15-color-5);
}

.proj15_3 {
  color: var(--website-15-color-3);
}

.proj15_4 {
  color: var(--website-15-color-3);
}

.proj15_5 {
  background-color: var(--website-15-color-3);
}

.proj15_6 {
  color: var(--website-15-color-3);
}

.proj15_7 {
  color: var(--website-15-color-6);
}

.proj15_8 {
  color: var(--website-15-color-4);
}

.proj15_9 {
  color: var(--website-15-color-6);
}

.proj15_10 {
  color: var(--website-15-color-4);
}

/* cta15 */
.cta15 {
  background-color: var(--website-15-color-1);
}

.cta15_1 {
  color: var(--website-15-color-3);
}

.cta15_2 {
  color: var(--website-15-color-5);
}

.cta15_3 {
  color: var(--website-15-color-3);
}

.cta15_4 {
  color: var(--website-15-color-5);
}

.cta15_5 {
  color: var(--website-15-color-5);
}

.cta15_6 {
  color: var(--website-15-color-6);
}

.cta15_7 {
  color: var(--website-15-color-3);
}

.cta15_8 {
  color: var(--website-15-color-6);
}

.cta15_9 {
  color: var(--website-15-color-3);
}

/* test15 */
.test15 {
  background-color: var(--website-15-color-1);
}

.test15_1 {
  color: var(--website-15-color-3);
}

.test15_2 {
  color: var(--website-15-color-5);
}

.test15_3 {
  color: var(--website-15-color-3);
}

.test15_4 {
  background-color: var(--website-15-color-3);
}

.test15_5 {
  color: var(--website-15-color-6);
}

.test15_6 {
  color: var(--website-15-color-5);
}

.test15_7 {
  color: var(--website-15-color-4);
}

/* pricn15 */
.pricn15 {
  background-color: var(--website-15-color-1);
}

.pricin15_1 {
  color: var(--website-15-color-3);
}

.pricin15_2 {
  color: var(--website-15-color-5);
}

.pricin15_3 {
  color: var(--website-15-color-3);
}

.pricin15_4 {
  background-color: var(--website-15-color-3);
}

.pricin15_5 {
  color: var(--website-15-color-6);
}

.pricin15_6 {
  color: var(--website-15-color-4);
}

.pricin15_7 {
  background-color: var(--website-15-color-5);
}

.pricin15_8 {
  color: var(--website-15-color-3);
}

.pricin15_9 {
  color: var(--website-15-color-4);
}

.pricin15_10 {
  color: var(--website-15-color-5);
}

.pricin15_11 {
  color: var(--website-15-color-4);
}

/* blog15 */
.blog15 {
  background-color: var(--website-15-color-1);
}

.blog15_1 {
  color: var(--website-15-color-3);
}

.blog15_2 {
  color: var(--website-15-color-5);
}

.blog15_3 {
  color: var(--website-15-color-3);
}

.blog15_4 {
  background-color: var(--website-15-color-3);
}

.blog15_5 {
  color: var(--website-15-color-6);
}

.blog15_6 {
  color: var(--website-15-color-4);
}

.blog15_7 {
  color: var(--website-15-color-6);
}

.blog15_8 {
  background-color: var(--website-15-color-5);
}

.blog15_9 {
  color: var(--website-15-color-3);
}

/* cont15 */
.cont15 {
  background-color: var(--website-15-color-1);
}

.cont15_1 {
  color: var(--website-15-color-3);
}

.cont15_2 {
  color: var(--website-15-color-5);
}

.cont15_3 {
  color: var(--website-15-color-3);
}

.cont15_4 {
  color: var(--website-15-color-3);
}

.cont15_5 {
  background-color: var(--website-15-color-5);
}

.cont15_6 {
  color: var(--website-15-color-3);
}

.cont15_7 {
  color: var(--website-15-color-6);
}

.cont15_8 {
  color: var(--website-15-color-3);
}

/* foot15 */
.foot15 {
  background-color: var(--website-15-color-1);
}
.footer15-container {
  background-color: var(--website-15-color-1);
}
.foot15_1 {
  color: var(--website-15-color-3);
}

.foot15_2 {
  color: var(--website-15-color-5);
}

.foot15_3 {
  color: var(--website-15-color-3);
}

.foot15_4 {
  color: var(--website-15-color-3);
}

.foot15_5 {
  color: var(--website-15-color-5);
}

.accordion-border {
  border-right: 2px solid black;
}

.TrialDesign15 {
  max-width: 1700px;
  margin: 0 auto;
}

.hoverBtn {
  transition: all 0.4s ease 0s !important;
}

.hoverBtn:hover {
  transform: scale(1.05);
  overflow: hidden !important;
}
