:root {

  --website-2-color-1: #1f1f38;
  --website-2-color-2: #2c2c6c;

  --website-2-color-3: #4db5ff;
  --website-2-color-4: rgba(77, 181, 255, 0.4);
  --website-2-color-5: #fff;

  --website-2-color-6: rgba(81, 90, 89, 0.965);

  --container2-width-lg: 75%;
  --container2-width-md: 86%;
  --container2-width-sm: 90%;
  --transition2: all 400ms ease;

}
.nav2 a {
  color: #fff; /* Default text color */
  transition: all 0.3s ease;
}

.nav2 a.active {
  background-color: var(--website-2-color-3);
  color: var(--website-2-color-1);
}

.nav2 a:hover {
  background-color: var(--website-2-color-4);
  color: var(--website-2-color-1);
}

.btn-2 {
  width: 70%;
  background-color: var(--website-2-color-3) !important;
  color: var(--website-2-color-5) !important;
  border: 1px solid var(--website-2-color-3) !important;
  border-radius:  0.5rem !important;
  width: max-content; /*to make it fit exactly its content*/
  display: inline-block;
  color: var(--website-2-color-3);
  padding: 0.75rem 1.2rem; /*top-bottom   left-right**/
  border-radius: 0.4rem;
  cursor: pointer;
}
.trialdesign2 {
  font-family: "Poppins", sans-serif;
  background: var(--website-2-color-1) url("https://res.cloudinary.com/dowtlcpxj/image/upload/v1703134021/bg-texture_up9ylo.png");
  color: var(--website-2-color-5);
  line-height: 1.7;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
}

.trialdesign2 .container {
  width: var(--container2-width-lg);
  margin: 0 auto; /*to posisition it in middle hoirzontally*/
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

/*direct childs of sction */
section > h2,
section > h5 {
  text-align: center;
  color: var(--website-2-color-5);
}
section > h2 {
  color: var(--website-2-color-3);
  margin-bottom: 3rem;
}
.text-light {
  color: var(--website-2-color-5);
}
a {
  color: var(--website-2-color-3);
  transition: var(--transition2);
}
a:hover {
  color: var(--website-2-color-5);
}
.trialdesign2 .btn {
  width: max-content; /*to make it fit exactly its content*/
  display: inline-block;
  color: var(--website-2-color-3);
  padding: 0.75rem 1.2rem; /*top-bottom   left-right**/
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--website-2-color-3);
  transition: var(--transition2);
}

.trialdesign2 .btn:hover {
  background: var(--website-2-color-5);
  color: var(--website-2-color-1);
  border-color: transparent; /*will change from color primary to transparent*/
}
.trialdesign2 .btn-primary {
  background: var(--website-2-color-3);
  color: var(--website-2-color-1);
}
.trialdesign2 img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/******************************** Media Query for "tablets"     *** *** **** * * ***/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container2-width-md);
  }
  section {
    /* margin-top: 1rem; */
  }
}
/******************************** Media Query for "phones"     *** *** **** * * ***/

@media screen and (max-width: 600px) {
  .trialdesign2 .container {
    max-width: 70%;
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
