:root {
  /*===============
     * Colors
    ===============*/
  --website-12-color-1: #000f38;
  --website-12-color-2: #212ea0;
  --website-12-color-3: rgba(0, 15, 152, 0.3);

  --website-12-color-6: #212ea0;
}
.design-12 .logo12 {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.design-12 .logo12:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.design-12 .logo12.react12:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.design-12 .body12 {
  background: #f5f5f5;
}

.design-12 a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.design-12 .container12 {
  padding-left: 10%;
  padding-right: 10%;
}
.design-12 .btn12 {
  background: var(--website-color-1);
  color: var(--title-dark);
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.design-12 .btn12 img {
  width: 20px;
  margin-left: 10px;
}
.design-12 .btn12.dark-btn12 {
  background: var(--website-12-color-6);
  color: var(--website-color-1);
}
.design-12 .btn12:hover {
  color: var(--website-color-3);
}
.design-12 .container12 {
  padding-left: 10%;
  padding-right: 10%;
}
/* ----------------------Media query------------- */

@media (max-width: 1200px) {
  .design-12 .container12 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .design-12 .btn12 {
    padding: 14px 22px;
    /* font-size: 10px; */
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .design-12 a:nth-of-type(2) .logo12 {
    animation: logo-spin infinite 20s linear;
  }
}
.design-12 .card12 {
  padding: 2em;
}
.design-12 .read-the-docs12 {
  color: var(--title-dark);
}
