/* add here your website colors with start  --website-4   */

:root {
  /* these are temporary colors , you should change it  */
  --website-4-color-1: #fff;
  --website-4-color-2: #cda274;
  --website-4-color-3: #292f36;
  --website-4-color-4: #f4f0ec;

  --website-4-hover-1: #f4f0ec;

  /* and add your */
}
