@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* ===========Variables CSS======== */
:root {
  /* --first-website-11-color-11: hsl(353, 100%, 65%);
  --second-website-11-color-11: hsl(244, 100%, 65%);
  --title-website-11-color-11: hsl(244, 24%, 26%);
  --text-website-11-color-11: hsl(244, 16%, 43%);
  --body-website-11-color-11: hsl(258, 60%, 98%);
  --container-website-11-color-11: #fff;
  --orange11: #f48915;
  --move11: #8b88b1;
  --hsl111: hsl(43, 100%, 68%);
  --hsl211: hsl(245, 15%, 65%);
  --gray11: #454360;
  --black011: rgba(0, 0, 0, 0.05);
  --whiteMove11: #e8dfec;
  --Banf11: #6c6ce5;
  --white0011: #f1f1f1; */

  --website-11-color-1: hsl(353, 100%, 65%);
  --website-11-color-2: #fff;
  --website-11-color-3: #f48915;
  --website-11-color-4: hsl(245, 15%, 65%);
  --website-11-color-5: hsl(244, 24%, 26%);
  --website-11-color-6: #6c6ce5;
  /* ======================Font and Typography================== */
  /* .5rem = 8px | 1rem = 16px ...*/
  --body-font: "Rubik", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*===================Font Weight ========================  */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

  --border-radius: 20px;
}

.nav11_background {
  background-color: var(--website-11-color-1);
}

.serv11_background {
  background-color: var(--website-11-color-1);
}

.static11_background {
  background-color: var(--website-11-color-1);
}

.hero11_background {
  background-color: var(--website-11-color-1);
}

.hero11_background {
  background-color: var(--website-11-color-1);
}

.hero11_background {
  background-color: var(--website-11-color-1);
}

.hero11_background {
  background-color: var(--website-11-color-1);
}

.hero11_background {
  background-color: var(--website-11-color-1);
}

.hero11_background {
  background-color: var(--website-11-color-1);
}

.hero11_background {
  background-color: var(--website-11-color-1);
}

/* =========== Responsive ============= */
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.TrialDesign11 {
  line-height: 1.7;
  font-family: var(--body-font11);
  font-size: var(--normal-font-size);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: flex;
}

/* ==============Reusable CSS Classes============ */
.container11 {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.grid11 {
  display: grid;
}

.section11 {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section__title11 {
  font-size: var(--h1-font-size);
  margin-left: 0.875rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 1.75rem;
  margin-top: 1.5rem;
}

.section__title11::before {
  content: "";
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}

.btn11 {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border: 1px solid transparent;
  color: var(--website-11-color-2);
  display: inline-block;
  background-color: var(--website-11-color-1);
  font-weight: var(--font-bold);
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn11:hover {
  animation: button-push 0.3s linear 1;
}

.main {
  margin-left: 110px;
}

@media screen and (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}