.red-button {
  color: rgb(244, 136, 136);
}

.blue-background {
  background-color: rgb(216, 216, 236);
}

.plus-9 {
  height: 13px;
  width: 13px;
}

:root {
  --button-text-color-9: #0ca39a;
  --e5e5e5-9: #e5e5e5;
  --button-text-colo-r-9: #0ca39a;
  --d4d4d4-9: #d4d4d4;
  --color-f6-9: #f6f6f6;
  --aaaaaa-color-9: #aaaaaa;
  --f2f2f2-color-9: #f2f2f2;
  --primary-next-9-color: rgb(255, 163, 4);
  --ffe999-9: #ffe999;
  --e6edeb-9: #e6edeb;
  --primary-text-color: #0c4f37;
  --primary-text-color-9: #0c4f37;
  --black-9: rgb(0, 0, 0);
  --color-808080-color-9: #808080;
  --secondary-text-color-9: #0c4d37;
  --font-size-md-9: 2rem;
  --white-9: rgb(255, 255, 255);
  --text-9-color: #a5a5a5;
  --font-size-base-9: 1.25rem;
  --bg-color-9: #cbcbc9;
  --border-radius-lg-9: 1.5rem;
  --border-radius-md: 0.5rem;
  --color-color-blue-9: #f8fdfe;
  --button-bg-gradient-from: #8bd3ce;
  --button-bg-gradient-from-9: #8bd3ce;
  --button-bg-gradient-to: #eff9f9;
  --button-bg-gradient-to-9: #eff9f9;
  --transition9: all 400ms ease;
  --color-bce6e4-9: #bce6e4;
  /* Add extracted colors and fonts */
  --logo-hover-shadow-color: #646cffaa;
  --logo-react-hover-shadow-color: #61dafbaa;

  --button-hover-bg-color: #4abab4;
  --icon-bg-color-9: #fff;
  --icon-hover-color-9: #74cac5;
  --icon-active-color-9: #26ada5;

  /* Fonts */
  --font-size-lg: 2.25rem;
  --font-size-md: 1.875rem;
  --font-size-sm: 1.5rem;
  --font-size-base: 1.25rem;
  --font-family: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /****/
}
.trialdesign9 {
  max-width: 98%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
}
.text-xl {
  font-size: var(--font-size-md);
}
.text-lg {
  font-size: var(--font-size-base);
}

.uppercase {
  color: var(--primary-text-color);
}

.rounded-full {
  border-radius: 9999px;
}

.pb-12 {
  padding-bottom: 3rem;
}

.logo-9 {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.about9_logo {
  width: 30%;

  padding: 2rem;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-9:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.img-9.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.capitalize,
.realestateh {
  color: var(--black-9);
}

.read-the-docs {
  color: #888;
}
.gradient-background {
  background: linear-gradient(to top, #bce6e4, #f8fdfe);
  border-radius: 560px;
  border-radius: 0 0 560px 560px;
}
.about-9:hover {
  background: var(--button-bg-gradient-from);
}
.about-9 {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
}
.pricing-9 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* gap: 2rem; */
}
.pricing-9:hover {
  background-color: var();
  background: linear-gradient(to right, var(--primary-text-color-9), var(--white-9));
  transition: var(--transition9);
  color: var(--black-9);
  /* background-size: cover; */
}
.pricing-9:hover h1,
.pricing-9:hover p,
.pricing-9:hover button {
  color: var(--black-9);
}
.about-9 {
  transition: var(--transition9);
}

.service-9:hover {
  background: linear-gradient(to right, var(--primary-next-9-color), var(--white-9));
  background-size: contain;
}

.cusror-9 {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.testimonial-9:hover {
  background: linear-gradient(to right, #8bd3ce, #eff9f9);
}
.footer9:hover {
  background: #0c4d37;
  height: 10px;
}
