/*=================================== 
#CSS VARIABLES
===================================*/

:root {
  --header-height: 5rem;

  /*===============
     * Colors
    ===============*/

  --first-color: hsl(27, 34%, 59%);
  --first-color-light: hsl(42, 13%, 34%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 67%);
  --bg-color: hsl(0, 0%, 8%);
  --container-color: hsl(0, 0%, 6%);
  --hsla: hsl(0, 0%, 0%, 0.75);

  /*===============
     * Typography
    ===============*/

  --body-font: "Kanit", sans-serif;

  --second-font: "Lobster Two", cursive;

  --biggest-font-size: clamp(2rem, 1.125rem + 4vw, 4.125rem);
  --bigger-font-size: clamp(1.875rem, 1.3603rem + 2.3529vw, 3.125rem);
  --big-font-size: clamp(1.75rem, 1.4412rem + 1.4118vw, 2.5rem);
  --h1-font-size: 1.87rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --largest-font-size: 1.375rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*===============
     * Border-radius
    ===============*/

  --radius: 0.5rem;

  /*===============
     * Transition
    ===============*/

  --transition: ease-in-out;
}

/*=================================== 
#RESET
===================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--text-color);
  background: var(--bg-color) !important;
}

h1,
h2,
h3 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-400);
}

ul {
  list-style: none;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

/*=================================== 
#RESUABLE CSS CLASSES
===================================*/

.container16 {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.grid16 {
  display: grid;
  gap: 1.5rem;
}

.btn16 {
  display: inline-block;
  color: var(--title-color);
  background: var(--first-color);
  border: 2px solid var(--first-color);
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
}

.btn16:hover {
  background-color: transparent;
  color: var(--first-color);
}

.btn--flex16 {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.section16 {
  padding-block: 7.5rem;
}

.section__title16 {
  font-size: var(--big-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.section__title16::before {
  content: attr(data-title);
  display: block;
  color: var(--first-color);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.title-left16 {
  text-align: left;
  margin-bottom: 1rem;
}

/* MEDIA QUERY */

@media only screen and (max-width: 1200px) {
  .container16 {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  :root {
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.375rem;
    --h3-font-size: 1.25rem;
    --largest-font-size: 1.25rem;
    --larger-font-size: 1.125rem;
    --large-font-size: 1rem;
    --normal-font-size: 0.9375rem;
  }

  .container16 {
    max-width: 720px;
  }
  .btn16 {
    padding: 0.75rem 1.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .container16 {
    max-width: 540px;
  }
}
