@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* ===========Variables CSS======== */
:root {
  --website-11-color-1: #ff4d61;
  --website-11-color-2: #fcf5ee;
  --website-11-color-3: #f48915;
  --website-11-color-4: #9b98b3;
  --website-11-color-5: #353252;
  --website-11-color-6: #6c6ce5;
  /* ======================Font and Typography================== */
  /* .5rem = 8px | 1rem = 16px ...*/
  --body-font: "Rubik", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*===================Font Weight ========================  */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

  --border-radius: 20px;
}

/* =========== Responsive ============= */
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

.TrialDesign11 {
  line-height: 1.7;
  font-family: var(--body-font11);
  font-size: var(--normal-font-size);
  max-width: 1700px;
  margin: 0 auto;
}
.TrialDesign11 h3,
.TrialDesign11 h1 {
  color: var(--website-11-color-6);
  font-weight: 600;
}
.TrialDesign11 p,
.TrialDesign11 span {
  color: var(--website-11-color-5);
}

/* .TrialDesign11 img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: flex;
} */

/* ==============Reusable CSS Classes============ */
.TrialDesign11 .container11 {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.TrialDesign11 .grid11 {
  display: grid;
}
.TrialDesign11 .section11 {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.TrialDesign11 .section__title11 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  position: relative;
  margin: 2rem auto 1.5rem auto;
  text-align: center;
}
.TrialDesign11 .section__title11::before {
  content: "";
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}
.TrialDesign11 .btn11 {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border: 1px solid transparent;
  color: var(--website-11-color-2);
  display: inline-block;
  background-color: var(--website-11-color-1);
  font-weight: var(--font-bold);
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.TrialDesign11 .btn11:hover {
  animation: button-push 0.3s linear 1;
}
.TrialDesign11 .main {
  margin-left: 110px;
}

@media screen and (max-width: 1024px) {
  .TrialDesign11 .main {
    margin-left: 0;
  }
}
