:root {
  /* these are temporary colors , you should change it  */

  --color-2-bg: #1f1f38;
  --color-2-bg-variant: #2c2c6c;
  --color-2-primary: #4db5ff;
  --color-2-primary-variant: rgba(77, 181, 255, 0.4);
  --color-2-white: #fff;
  --color-2-light: rgba(255, 255, 255, 0.848);
  --color-2-golden: rgba(255, 223, 0, 0.8);
  --color-2-nav: rgba(86, 170, 188, 0.8);
  --color-2-grey: rgba(81, 90, 89, 0.965);

  --container2-width-lg: 75%;
  --container2-width-md: 86%;
  --container2-width-sm: 90%;
  --transition2: all 400ms ease;

  /* and add your */
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.trialdesign2 {
  font-family: "Poppins", sans-serif;
  background: var(--color-2-bg);
  /* background-color: var(--color1-bg); */
  color: var(--color-2-white);
  line-height: 1.7;
  background-image: url(../../assets//images2/bg-texture.png);
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
}

.trialdesign2 .container {
  width: var(--container2-width-lg);
  margin: 0 auto; /*to posisition it in middle hoirzontally*/
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

/*direct childs of sction */
section > h2,
section > h5 {
  text-align: center;
  color: var(--color-2-light);
}
section > h2 {
  color: var(--color-2-primary);
  margin-bottom: 3rem;
}
.text-light {
  color: var(--color-2-light);
}
a {
  color: var(--color-2-primary);
  transition: var(--transition2);
}
a:hover {
  color: var(--color-2-white);
}
.trialdesign2 .btn {
  width: max-content; /*to make it fit exactly its content*/
  display: inline-block;
  color: var(--color-2-primary);
  padding: 0.75rem 1.2rem; /*top-bottom   left-right**/
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-2-primary);
  transition: var(--transition2);
}

.trialdesign2 .btn:hover {
  background: var(--color-2-white);
  color: var(--color-2-bg);
  border-color: transparent; /*will change from color primary to transparent*/
}
.trialdesign2 .btn-primary {
  background: var(--color-2-primary);
  color: var(--color-2-bg);
}
.trialdesign2 img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/******************************** Media Query for "tablets"     *** *** **** * * ***/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container2-width-md);
  }
  section {
    /* margin-top: 1rem; */
  }
}
/******************************** Media Query for "phones"     *** *** **** * * ***/

@media screen and (max-width: 600px) {
  .trialdesign2 .container {
    max-width: 70%;
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
