:root {
  --website-color-1: #ffffff;
  --website-color-2: #cda274;
  --website-color-3: #292f36;
  --website-color-4: #f4f0ec;
  --website-color-5: #777777;
}

.design-1 {
  padding: 30px;
  margin: 0 auto !important;
}

.title-1 {
  color: var(--website-color-3);
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

.description-1 {
  color: var(--website-color-5);
  line-height: 1.3;
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .design-1 {
    padding: 15px;
  }

  .title-1 {
    font-size: 25px;
  }

  .description-1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
