@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
}
html {
  scroll-behavior: smooth;
}

:root {
  --website-17-color-1: #ff0c00;
    --website-17-color-2: #bb2c51;
   --website-17-color-3: #21d4b9;
   --website-17-color-4: #ffffff;
   --website-17-color-5: rgb(255, 225, 0);

   --website-17-color-6: rgb(160, 157, 157);
 
   --font17-: "Ephesis", "cursive";
}
.icon-17 {
  width: 30px;
}
.icon-177 {
  width: 30px;
  filter: invert(100%);
}
.icon-17:hover {
  filter: invert(48%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.logo-17 {
  width: 50px;
}

.ephesis {
  font-family: var(--font17-);
}
.container17 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

.p17 {
  font-size: 16px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}
* {
  padding: 0 auto;
  margin: 0   auto;
}
