.red-button {
  color: rgb(244, 136, 136);
}

.blue-background {
  background-color: rgb(216, 216, 236);
}

.plus-9 {
  height: 13px;
  width: 13px;
}

:root {
  --website-9-color-1: rgb(255, 255, 255);
   --website-9-color-2: #0ca39a;
   --website-9-color-3: #0c4f37;
 
  --website-9-color-4: #808080;
 
 
 

  --website-9-color-5: #646cffaa;
 
  --website-9-color-6: #74cac5;
 
   --font-size-md-9: 2rem;

  --font-size-base-9: 1.25rem;
  --border-radius-lg-9: 1.5rem;
  --border-radius-md: 0.5rem;
  --transition9: all 400ms ease;

  /* Fonts */
  --font-size-lg: 2.25rem;
  --font-size-md: 1.875rem;
  --font-size-sm: 1.5rem;
  --font-size-base: 1.25rem;
  --font-family: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /****/
}

.hero9 {
  padding-bottom: 1.5rem;
}
.feature-9 {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}
.team9 {
  padding-bottom: 1.5rem;
}
.trialdesign9 {
  max-width: 100%;
  margin: 0 auto;

  text-align: center;
  align-items: center;
  justify-content: center;
}
.text-xl {
  font-size: var(--font-size-md);
}
.text-lg {
  font-size: var(--font-size-base);
}

.uppercase {
  color: var(--website-9-color-3);
}

.rounded-full {
  border-radius: 9999px;
}

.pb-12 {
  padding-bottom: 3rem;
}

.logo-9 {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.about9_logo {
  width: 30%;

  padding: 2rem;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-9:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.img-9.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.capitalize,
.realestateh {
  color: var(--website-9-color-3);
}

.read-the-docs {
  color: #888;
}
.gradient-background {
  background: linear-gradient(to top, #bce6e4, #f8fdfe);
  border-radius: 560px;
  border-radius: 0 0 560px 560px;
}
.about-9:hover {
  background: var(--website-9-color-6);
}



.about-9 {
  transition: var(--transition9);
  /* padding-top: 1rem; */
  padding-bottom: 3rem;
}
.about-9 {
  /* display: flex; */
  justify-content: center;

  /* align-items: center; */
}

.service-99 {
  background: var(--website-9-color-3);
  /* background-size: contain; */
  padding-bottom: 2rem;
}

.cusror-9 {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.testimonial-9:hover {
  background: linear-gradient(to right, #8bd3ce, #eff9f9);
}
.footer9:hover {
  background: var(--website-9-color-3);
  height: 10px;
}

.footer9 {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loogo-9 {
  width: 10%;
}

/* @media screen and (max-width: 600px) {
  .swiper-container {
    width: 100%;
  }
} */
