.design5 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --website-5-color-1: #5c3db8;
  --website-5-color-2: #f0f4f4;
  --website-5-color-3: #eb967a;
  --website-5-color-4: #fabe89;
  --website-5-color-5: #000000;
  --website-5-color-6: #919191;
}

.design5-section {
  padding: 4rem 0 2rem;
}

.design5-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.design5-flex {
  display: flex;
  align-items: center;
}

.design5-grid {
  display: grid;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .design5-section {
    padding: 6rem 0 4rem;
  }

  .design5-container {
    width: 75%;
    margin: auto;
  }
}
