.item14-card0,
.item14-card6,
.item14-card12,
.item14-card18{

    @apply py-10 pl-5 bg-gradient-to-br from-black/90 to-black/70 text-white rounded-3xl relative h-[320px] flex items-end
    /* background-color:rgb(39, 39, 39); */
}


.item14-card1,
.item14-card7,
.item14-card13,
.item14-card19{
    @apply py-10 pl-5 bg-gradient-to-br from-[--website-14-color-2] to-[--website-14-color-2] text-white rounded-3xl relative h-[320px] flex items-end
    /* background:var(--brand14-yellow); */
}


.item14-card2,
.item14-card8,
.item14-card14,
.item14-card20{
   
    @apply py-10 pl-5 bg-gradient-to-br from-[--website-14-color-1] to-[--website-14-color-1] text-white rounded-3xl relative h-[320px] flex items-end
    /* background:var(--primary14-color); */
}


.item14-card3,
.item14-card9,
.item14-card15,
.item14-card21{
    @apply py-10 pl-5 bg-gradient-to-br from-[--website-14-color-5] to-[--website-14-color-5] text-white rounded-3xl relative h-[320px] flex items-end
    /* background:var(--brand14-gray); */
}


.item14-card4,
.item14-card10,
.item14-card16,
.item14-card22{

    @apply py-10 pl-5 bg-gradient-to-br from-[--website-14-color-3] to-[--website-14-color-3] text-white rounded-3xl relative h-[320px] flex items-start
    /* background:var(--brand14-green); */
}


.item14-card5,
.item14-card11,
.item14-card17,
.item14-card23{

    @apply py-10 pl-5 bg-gradient-to-br from-[--website-14-color-4] to-[--website-14-color-4] text-white rounded-3xl relative h-[320px] flex items-start
    /* background:var(--brand14-blue); */
}

/* ////////////////////////////////////////// */

.item14-card0 img,
.item14-card6 img,
.item14-card12 img,
.item14-card18 img{

    @apply w-[270px] absolute bottom-0 -right-7
    
}


.item14-card1 img,
.item14-card7 img,
.item14-card13 img,
.item14-card19 img{
    @apply w-[270px] absolute -right-14 lg:top-[40px]
   
}


.item14-card2 img,
.item14-card8 img,
.item14-card14 img,
.item14-card20 img{
   
    @apply w-[220px] absolute top-1/2 -translate-y-1/2 -right-4 lg:top-[150px]
    
}


.item14-card3 img,
.item14-card9 img,
.item14-card15 img,
.item14-card21 img{
    @apply w-[190px] absolute top-1/2 -translate-y-1/2 -right-0 
    
}


.item14-card4 img,
.item14-card10 img,
.item14-card16 img,
.item14-card22 img{

    @apply w-[270px] absolute bottom-0 -right-0 
    
}


.item14-card5 img,
.item14-card11 img,
.item14-card17 img,
.item14-card23 img{

    @apply w-[200px] absolute bottom-10 right-0 
}

/* ////////////////////////////////////////// */

.item14-button0,
.item14-button6,
.item14-button12,
.item14-button18{

    @apply bg-[--website-14-color-1] text-[--website-14-color-6]
}


.item14-button1,
.item14-button7,
.item14-button13,
.item14-button19{
    @apply bg-white text-[--website-14-color-2]
}


.item14-button2,
.item14-button8,
.item14-button14,
.item14-button20{
   
    @apply bg-white text-[--website-14-color-1]
}


.item14-button3,
.item14-button9,
.item14-button15,
.item14-button21{
    @apply bg-[--website-14-color-1] text-[--website-14-color-6]
}


.item14-button4,
.item14-button10,
.item14-button16,
.item14-button22{

    @apply bg-white text-[--website-14-color-3]
}


.item14-button5,
.item14-button11,
.item14-button17,
.item14-button23{

    @apply bg-white text-[--website-14-color-4]
}

/* item14-allCard */

.ltr .item14-allCard {
 display: flex;
}
.rtl .item14-allCard {
 display: flex;
 flex-direction: row-reverse;
}


