
.main-header {
  position: relative;
  height: 100vh;
  background: var(--color-1);
  /* optional  background layers 
  background-image: linear-gradient(45deg, #0000009e, transparent);
  background-image: linear-gradient(90deg, #ffffff12 1px, transparent 0), linear-gradient(0deg, #ffffff12 1px, transparent 0);
  background-size: 93px 93px;
  */
  background-image: linear-gradient(90deg, #ffffff12 1px, transparent 0), linear-gradient(0deg, #ffffff12 1px, transparent 0);
  background-size: 93px 93px;
}

.info-section {
  height: 85vh;
  padding-top: 186px !important;
}
.info-section .info-title {
  color: var(--title-light);
  text-transform: capitalize;
  font-size: 38px;
  font-weight: 600;
}
.info-section .info-description {
  color: var(--discription-light) !important;
  margin-bottom: 41px !important;
  line-height: 1.8 !important;
  font-size: 22px;
}
@media (max-width:540px) {
  .info-section .info-title {
    font-size: 30px;
  }
  .info-section .info-description {
    font-size: 17px;
  }
}
.info-section .info-btn {
  width: fit-content;
  font-weight: bold;
  color: white;
  padding: 8px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #831fa5 , #4a2199 , var(--color-1));
  transition: var(--transition);
  background-size: 100%;
}
.info-section .info-btn:hover {
  background-size: 300%;
}
.main-header .info-btn,
.main-header .signIn-btn,
.main-header .main-logo {
  user-select: none;
  cursor: pointer;
}

.main-hero-image {
  position: relative;
  width: 50%;
  flex-shrink: 0;
  animation: poster 3s ease infinite;
}
.main-hero-image img{
  width: 100%;
}
@keyframes poster {
  50% {
    transform: translateY(-15px);
  }
}
@media (max-width: 991px) {
  .main-hero-image {
    display: none;
  }
}
