

   /* components/Header/styles.css */
   body{
    /* background-image: url("../Images/img3.png"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-color: #f4f1f4;
}
.header {
    
    padding: 10px;
    text-align: center;
    animation: moveAnimation 3s infinite alternate;
  }
  
  /* @keyframes moveAnimation {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 30px;
    }
  } */
  .logo {
    font-size: 2rem;
    background-clip: text;
    /* font-style: italic; */
    /* background: linear-gradient(to left, white, rgb(93, 93, 237)); */
    /* text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5); */
    /* color: rgb(242, 234, 234); */
    font-size: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    font-family: Serif;

  }
  /* components/Section/styles.css */

.section {
    display: flex;
  height: 40%;
  }
  
   .section-image {
   
    width: 300px;
    height: 300px;
    opacity: 1;
    margin-left: 25px;
    margin-top: 15px;
    display: inline-block;
    transition: all 2s;
    border: 2px solid white;
    box-shadow: 10px 10px 10px rgb(213, 210, 222) ,-10px -10px 10px rgb(37, 37, 36);

  }
  img:hover{
    opacity: 1;
    transform: scale(1.1);  
} 

  
  .section-content {
    height: 70%;
    width: 60%;
    font-size: 2rem;
    margin-top:50px;
    font-style: oblique;
    font-family:Helvetica Neue;
    text-align: left;
    margin-left: 15px;
    color: #171616; 
    
  }
  .section-content2 {
    font-size: 2.5rem;
    color: #932424;
    font-style: monospace;
    text-shadow: 15px 15px 10px rgba(0, 0, 0,0.9);
    color: rgb(231, 229, 229);
    margin-left: 280px;
    text-decoration: underline;
  
  }
/* components/Footer/styles.css */

.footer {
    
    padding: 10px; 
     color: white; 
  }
  
  .button {
    background-image: linear-gradient(to right, white, rgb(93, 93, 237));
    color: rgb(47, 7, 132);
    border-radius: 15px;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 250px;
    height: 40px;
    margin-right: 20px; 
  }
  
  .button:hover {
    background-image: linear-gradient(to left, white, rgb(93, 93, 237));
  }
  
  
 