.aside11 {
  border-bottom: 1px solid var(--website-11-color-5);
  padding: 1.2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.nav11__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.nav11__link {
  font-size: 1.5rem;
  color: var(--website-11-color-5);
  font-weight: var(--font-bold);
  transition: 0.3s;
}
.nav11__link img {
  width: 40px;
  height: 100%;
}
.nav11__link:hover {
  color: var(--website-11-color-3);
}
.copyright11 {
  color: var(--website-11-color-4);
  font-size: var(--small-font-size);
}

@media screen and (max-width: 1024px) {
  .aside11 {
    padding: 1rem;
  }

  .show-menu11 {
    bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  .aside11 {
    justify-content: center;
  }
  .nav11_logo,
  .nav11__footer {
    display: none;
  }
  .nav11__link img {
    width: 40px;
    height: 100%;
  }
}
