.footer6 {
  padding: 70px 0px 20px;
  background: var(--color2);
}

.footer6 .footer__link-title {
  color: var(--color5) !important;
  font-weight: bold;
}

.footer6 .link__item {
  padding-left: 0;
  background: transparent;
  color: var(--color6) !important;
  border:none !important;
}
.footer6 .footer-description,
.footer6 .footer-copyright{
  color: var(--color6) !important;
}
.footer6 img{
  width: 20px;
}
.footer6 .link__item a {
  color: var(--color6);
  text-decoration: none !important;
  transition: 0.2s;
}
.footer6 .link__item:hover a {
  color: var(--color5);
}

.footer6 .footer__bottom {
  background: var(--color2);
  padding: 20px 0px;
  text-align: center;
  margin-top: 50px;
}

.footer6 .footer__bottom p {
  font-size: 0.9rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 992px) {
  .footer6 .link__item a {
    font-size: 0.8rem;
  }

  .footer6 .link__item {
    font-size: 0.8rem;
    border:none !important;
  }

  .footer6 .logo p {
    font-size: 0.8rem;
  }

  .footer6 .footer__bottom p {
    font-size: 0.7rem;
  }

  .footer6 .footer__bottom {
    padding: 15px 0px;
  }
}
