.section-poster {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section--poster-container {
  position: relative;
  border: solid 2px transparent;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section--poster-container.selected {
  border: solid 2px var(--color-3);
}

.own-page .check-icon {
  background: var(--color-3);
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  transition: 0.4s;
  padding: 4px;
  animation: icon 0.3s ease 1 forwards;
  transform: scale(0);
}

@keyframes icon {
  100% {
    transform: scale(1);
  }
}
