.group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 80%;
    margin: 50px auto;
    gap: 10px;
    border: solid 1px #2C2C2C;
    padding: 10px;
    position: relative;
}

.own-page .title {
    position: absolute;
    width: fit-content;
    background: #2C2C2C;
    color: #FFFFFF;
    font-weight: 500;
    padding: 6px 8px;
    top: -0.5px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 5px 5px 0px 0px;
}

.own-page input {
    display: none;
}

.own-page label {
    display: flex;
    transition: 0.4s;
    border: solid 2px #00000000;
    position: relative;
}

.own-page label:before {
    content: url("https://res.cloudinary.com/duc04fwdb/image/upload/v1708037268/jammal_photos/nme9bdbxqehtul4yzmd7.svg");
    content: "✓";
    background: #3498db;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

.own-page input[type="radio"]:checked+label {
    border: solid 2px #3498db;
    transform: scale(0.95);
}

.own-page input[type="radio"]:checked+label:before {
    transform: translate(-50%, -50%) scale(1);
}

.text {
    display: flex;
}

.own-page textarea {
    width: 100%;
    resize: none !important;
    outline: none;
    padding: 10px;
    line-height: 1.5;
    border: solid 1px #C5C5C5
}

.own-page textarea:focus {
    border-color: #3498db;
}