.own-page {
    background: #481b91;
}

.own-page h1 {
    margin: 40px auto 93px;
}

.own-page textarea {
    background-color: white !important;
    color: #373737 !important;
}

.own-page .group {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 80%;
    margin: 5px auto 20px;
    gap: 10px;
    border: solid 1px var(--color-3);
    padding: 10px;
    position: relative;
    background: white;
    display: none;
}

.show-btn {
    display: none;
}

.show-btn:checked+.group {
    display: grid !important;
}

.show-section {
    display: flex;
    width: 80%;
    background: white;
    padding: 10px;
    justify-content: space-between;
    margin: 15px auto;
    color: #373737;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.show-section .title {
    text-transform: capitalize;
}

.show-section img {
    width: 18px;
}

.own-page .group .title {
    position: absolute;
    width: fit-content;
    background: var(--color-3);
    color: #FFFFFF;
    font-size: 20px;
    padding: 6px 8px;
    top: -0.5px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    font-size: 17px;
}

.group input {
    display: none;
}

.group label {
    display: flex;
    transition: 0.4s;
    outline: solid 2px #00000000;
    outline-offset: 1px;
    position: relative;
}

.own-page .check-icon {
    background: var(--color-3);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: 0.4s;
    padding: 8px;
}

.group input[type="radio"]:checked+label {
    outline: solid 2px var(--color-3);
}

.group input[type="radio"]:checked+label .check-icon {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

.group.text {
    background: transparent;
    display: flex;
}

.own-page textarea {
    width: 100%;
    resize: none !important;
    outline: none;
    padding: 10px;
    line-height: 1.5;
    border: solid 1px #C5C5C5;
    border-radius: 3px;
    color: #373737 !important;
}

.own-page textarea:focus {
    border-color: var(--color-3);
}

.own-page .generate-own-btn {
    font-size: 24px;
    width: fit-content;
    margin: 5px auto;
    background: var(--color-3);
    padding: 9px 18px;
    font-weight: 500;
    display: flex;
    border-radius: 7px;
    color: white;
    transition: 0.4s;
    font-size: 17px;
    outline: solid 1px var(--color-3);
    margin-block: 45px;
}

.own-page button.generate-own-btn:active {
    outline-offset: 2px;
    background: #d16fce;
    transform: scale(0.95);
}

.select-message {
    color: #C5C5C5;
    text-align: center;
}

.Hero--section-poster {
    object-fit: cover;
    width: 100%;
}

.Hero--section-poster-container {
    height: 180px;
    width: 100%;
}

.own-page .error-message {
    max-width: 330px;
    padding: 20px;
    margin: 20px auto;
    background: white;
    color: #373737;
    border-radius: 8px;
    box-shadow: 0 5px 6px #3613702f;
    opacity: 0%;
    transform: translateY(20px);
    transition: 0.2s;
}

.own-page .error-message.active {
    opacity: 100%;
    transform: translateY(0px);
}

.own-page .error-message .important {
    color: var(--color-3);
    cursor: help;
}

span.section-id-num {
    z-index: 5;
    color: white;
    width: 50px;
    height: 35px;
    position: absolute;
    top: 0px;
    left: 0;
    background: cadetblue;
    display: flex;
    justify-content: center;
    font-size: 23px;
}