
.own-page {
    background: #481b91;
}

.own-page h1 {
    margin: 40px auto 93px;
}

.own-page .group {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 80%;
    margin: 5px auto 20px;
    gap: 10px;
    border: 1px solid var(--color-3);
    padding: 10px;
    position: relative;
    background: white;
    display: none;
}

.show-btn {
    display: none;
}

.show-btn:checked+.group {
    display: grid;
}

.show-section {
    display: flex;
    width: 80%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    margin: 15px auto;
    padding: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.show-section .title {
    text-transform: capitalize;
}

.show-section img {
    width: 18px;
}

.own-page .group .title {
    position: absolute;
    width: fit-content;
    background: var(--color-3);
    color: #FFFFFF;
    font-size: 20px;
    padding: 6px 8px;
    top: -0.5px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
}

.group input {
    display: none;
}

.group.text {
    background: transparent;
    display: flex;
}
/*
.own-page .generate-own-btn {
    font-size: 24px;
    width: fit-content;
    margin: 5px auto;
    background: var(--color-3);
    padding: 9px 18px;
    font-weight: 500;
    display: flex;
    border-radius: 7px;
    color: white;
    transition: 0.4s;
    outline: 1px solid var(--color-3);
    margin-block: 45px;
}

.own-page button.generate-own-btn:active {
    outline-offset: 2px;
    background: #d16fce;
    transform: scale(0.95);
}
*/
.select-message {
    color: #C5C5C5;
    text-align: center;
}

.own-page .error-message {
    max-width: 330px;
    padding: 20px;
    margin: 20px auto;
    background: white;
    color: #373737;
    border-radius: 8px;
    box-shadow: 0 5px 6px #3613702f;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.2s;
}

.own-page .error-message.active {
    opacity: 1;
    transform: translateY(0);
}

.own-page .error-message .important {
    color: var(--color-3);
    cursor: help;
}