.c-container4 {
  justify-content: space-between;
}
.c-container4 > div {
  flex: 1;
}
.c-right4 {
  width: 100%;
}
.c-left4 {
  gap: 0.5rem;
}
.contactModes4 {
  margin-top: 2rem;
  gap: 1rem;
}
.contactModes4 .row4 {
  gap: 1.5rem;
}
.mode4 {
  width: 16rem;
  padding: 1rem;
  border-radius: 5px;
  gap: 1rem;
  transition: all 200ms ease-in;
}
.mode4 .button4 {
  width: 100%;
  background: var(--lightBlue);
  color: var(--website-4-color-4);
  font-size: 0.9rem;
  font-weight: 600;
}
.mode4 > :nth-child(1) {
  width: 100%;
  gap: 1.6rem;
}
.mode4 .detail4 .primaryText4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.mode4:hover {
  scale: 1.1;
  box-shadow: var(--shadow);
}

.mode4 .button4:hover {
  background: var(--website-4-color-4-gradient);
  color: var(--website-4-color-1);

  scale: 0.8;
}
.button4 {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: var(--white);
  background: var(--website-4-color-4-gradient);
  border: none;
  border-radius: 4px;
  transition: all 200ms ease-in;
}
.button4:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  .c-container4 {
    flex-direction: column;
  }
  .c-right4 {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .contactModes4 {
    width: 100%;
  }
  .row4 {
    flex-direction: column;
    width: 100%;
  }
  .mode4 {
    width: 100%;
  }
}
