.programs12 {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title12 {
  color: var(--website-color-3);
}

.program12 {
  flex-basis: 31%;
  position: relative;
  display: flex;
}

.program12 img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.caption12 {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--website-12-color-3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--website-color-1);
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
  transition: 0.7s;
}

.caption12 img {
  width: 60px;
  margin-bottom: 10px;
}

.program12:hover .caption12 {
  opacity: 1;
  padding-top: 0%;
}

/* ----------------------Media query------------- */

@media (max-width: 650px) {
  .programs12 {
    flex-direction: column;
  }
  .program12 {
    flex-basis: 100%;
    margin: 20px;
  }
}
