/* Components */

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading h2::before,
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-heading h2::before {
  height: 2px;
  background-color: var(--website-color-5);
  bottom: -30px;
  width: 120px;
}

.main-heading h2::after {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--website-color-5);
  bottom: -38px;
  background-color: var(--website-color-1);
}

.main-heading p {
  width: 100%;
  max-width: 550px;
  margin: 0 auto 100px;
  line-height: 2;
  color: var(--website-color-5);
}
/* Landing */
.landing {
  height: 800px;
  background-color: var(--website-color-1);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 0 0 0 115px;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.landing .text {
  position: absolute;
  top: 350px;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--website-color-2);
  color: var(--website-color-3);
  display: flex;
  justify-content: flex-end;
  left: 90px;
  border-radius: 0 0 0 115px;
}

.landing .text .content {
  max-width: 285px;
}
.landing .text .landing-btn {
  padding: 20px 40px;
  margin-top: 12px;
  font-size: 18px;
  background-color: var(--website-color-3);
  color: var(--website-color-1);
  border-radius: 20px;
}
.landing .text .landing-btn:hover {
  color: var(--website-color-2);
  font-weight: bold;
  transition: 0.1s;
}
.landing .text .content h2 {
  font-family: "DM Serif Display";
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--website-color-1);
}

@media (max-width: 600px) {
  .landing .text {
    width: 80%;
    left: 26px;
    top: 300px;
    border-radius: 0 0 0 118px;
    padding: 40px;
  }

  .landing .text .content {
    max-width: 90%;
  }
  .landing .text .content h2 {
    font-size: 38px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .landing .text .content p {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
