.nav-6 {
  background: var(--website-6-color-1-light);
  padding: 15px 0px;
}
.nav-6 .header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: var(--website-6-color-1-light);
  padding: 100px auto;
}

.nav-6 .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-6 .logo h2 {
  margin-bottom: 0;
}

.nav-6 .nav__list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
  column-gap: 2.7rem;
}

.nav-6 .nav__item a {
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.nav-6 .nav__item a:hover {
  color: var(--website-6-color-2-light);
}

.nav-6 .custom__search {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  height: 35px;
  border-radius: 50px;
  background: var(--website-6-color-1-dark);
}

.nav-6 .custom__search input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--white);
}

.nav-6 .custom__search span img {
  cursor: pointer;
}

.nav-6 .mobile__menu span img {
  width: 28px;
}

.nav-6 .mobile__menu {
  display: none;
}

.nav-6 .cart__icon {
  position: relative;
  z-index: 11;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  background: var(--website-6-color-2-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-6 .badge {
  position: absolute;
  top: -2px;
  right: -3px;
  z-index: 12;
  color: var(--gray);
  font-size: 0.8rem;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .nav-6 .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #0a071a7e;
    display: none;
  }

  .nav-6 .nav__list__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: var(--website-6-color-1-light);
    flex-direction: column;
    box-shadow: 5px 5px 15px -5px var(--website-6-color-1-light);
    justify-content: space-around !important;
    padding: 0px 20px;
  }

  .nav-6 .nav__list {
    flex-direction: column;
    padding: 0;
    gap: 50px;
    width: 100%; 
  }

  .nav-6 .nav__item a {
    font-size: 0.9rem;
  }

  .nav-6 .header {
    line-height: 40px;
    height: 60px;
    padding: 10px 0px;
  }

  .nav-6 .custom__search {
    border: 1px solid var(--website-6-color-1-dark);
    padding: 5px 15px;
    font-size: 0.9rem;
    height: 30px;
    margin-top: 15px;
  }

  .nav-6 .mobile__menu {
    display: block;
  }

  .nav-6 .logo h2 {
    font-size: 1.5rem;
  }

  .nav-6 .active__menu {
    display: block;
  }
}
