.cta5{
    /* padding: 4rem 0 2rem; */
    background: var(--website-5-color-2);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.cta5-mainSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cta5-mainSection h2{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 700;
}

.cta5-input{
  padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    background: var(--website-5-white);
    border-radius: 1rem;
    width: 90%;
}

.cta5-input input{
    border: none;
    outline: none;
    background: transparent;
    padding: .5rem 0.5rem;
    border:1px solid hsl(0, 0%, 83%);
    border-radius: 3rem;
    width: 100%;
    margin-bottom: 4px;
    font-size: 100%;
    color: var(--website-5-greyText);
  } 
  
  .cta5-input input:placeholder{
    font-size: 13px;
    opacity: 0.5;
  }

.input-btn{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  background: var(--website-5-color-1);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--website-5-white);
  width: 100%;
}

.input-btn:hover{
  opacity: 0.8;
}

@media screen and (min-width: 480px) {
  .cta5-mainSection{
    max-width: 80%;
    margin: auto;
  }

  .cta5-input{
    display: flex;
    flex-direction: row;
    background: var(--website-5-color-2);
    justify-content:space-between;
    padding: 0 .5rem;
    border-radius: 3rem;
    gap: 4px;
  }

  .cta5-input input{
    background: var(--website-5-white);

  }

  .input-btn{
    width: 30%;
  }
}

@media screen and (min-width: 480px) {
  .cta5-input{
    display: flex;
    flex-direction: row;
    background: var(--website-5-color-2);
    justify-content:center;
    padding: 0 .5rem;
    border-radius: 3rem;
    gap: 4px;
  }
  .cta5-input input{
    background: var(--website-5-white);
    max-width: 60%;
  }

  .cta5-mainSection h2{
    font-size: 27px;
  }
}
@media screen and (min-width: 980px) {
  .input-btn{
    max-width: 150px;
  }

}

