.footer1{
  background: var(--website-color-1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc( (100% - 430px) );
  margin:  auto ;
  justify-content: center;
  gap: 80px;
  
}

.footer1-icons,
.footer1-section,
.footer1-services,
.footer1-contact{
  flex: 1;
  flex-direction: column;
}

.footer1-img{
    width: 20px;
    height: 20px;
}
.footer1-media-icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 180px;
    margin-top: 15px;
    gap: 15px;
}
.footer1-section{
    display: flex;
    flex-direction: column;
}
.footer1-services{
    display:flex;
    flex-direction: column;
}
.footer1-contact{
    display:flex;
    flex-direction: column;
}
.footer1-element{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}

.footer1-section h4,
.footer1-services h4,
.footer1-contact h4 {
    font-weight: 700;
}
p{
    color: var(--grey);
}


@media screen and (max-width: 980px) {
    .footer1{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        justify-content: center;
        gap: 20px;
    }
    .footer1-icons{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .footer1-media-icon{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        max-width: 180px;
        margin: auto;
        margin-top: 15px;
        gap: 13px;
    }
  
    .footer1-section,
    .footer1-services,
    .footer1-contact{
        width: 80%;
        margin: auto;
        
    }
    .footer1-element{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        
    }
  }
