.team__grid16 {
  grid-template-columns: repeat(4, 1fr);
}

.team__item16 {
  border-bottom: 3px solid var(--website-16-color-1);
  background-color: var(--website-16-color-6);
  padding: 0.5rem;
  position: relative;
  transition: 0.5s var(--transition);
}

.team__data16 {
  padding: 0.75rem;
  text-align: center;
}

.team__title16 {
  font-size: var(--largest-font-size);
  margin-bottom: 0.25rem;
}

.team__job16 {
  color: var(--website-16-color-1);
  font-weight: var(--weight-500);
}

.team__socials16 {
  position: absolute;
  top: 1rem;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  opacity: 0;
  transition: 0.5s var(--tansition);
}

.team__social-link16 {
  background-color: var(--website-16-color-5);
  color: var(--website-16-color-3);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  transition: 0.3s var(--transition);
}

.team__item16:hover {
  transform: translateY(-0.5rem);
}

.team__item16:hover .team__socials16 {
  right: 1rem;
  opacity: 1;
}

/* MEDIA QUERY */

@media only screen and (max-width: 992px) {
  .team__grid16 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .team__grid16 {
    grid-template-columns: 1fr;
  }
}
