.design-2 footer {
  background: var(--color-2-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin-top: 2rem;
}

.design-2 footer2 a {
  color: var(--color-2-bg);
}

.design-2 .footer2__logo:hover {
  transition: var(--transition);
  color: var(--color-2-bg-variant);
}

.design-2 .footer2__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.design-2 .permalinks:hover {
  transition: var(--transition);
  color: var(--color-2-bg-variant);
}

.design-2 .permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.design-2 .footer2__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.design-2 .footer2__socials {
  background: var(--color-2-bg-variant);
  color: var(--color-2-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.design-2 .footer2-image {
  width: 12px;
  height: 12px;
}

.design-2 .footer2-image:hover {
  transition: var(--transition);
  color: var(--color-2-white);
}

.design-2 .footer2__socials:hover {
  background: transparent;
  color: var(--color-2-bg);
  border-color: var(--color-2-bg);
}

.design-2 .footer2__copyrights {
  margin-bottom: 4rem;
  color: var(--color-2-bg);
}

@media screen and (max-width: 600px) {
  .design-2 footer {
    max-width: 100%;
    margin: 0 auto;
  }

  .design-2 .permalinks {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
  }

  .design-2 .footer2__socials {
    margin-bottom: 2.6rem;
  }
}