@keyframes walkToEndAndBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 100%));
  }
  100% {
    transform: translateX(0);
  }
}

.walkToEnd {
  animation: walkToEndAndBack 3s ease-in-out infinite;
}
@keyframes flaming {
  0% {
    transform: scale(1) rotate(0deg);
    filter: hue-rotate(0deg);
    box-shadow: 0 0 0 rgba(255, 69, 0, 0.7);
  }
  50% {
    transform: scale(1.1) rotate(2deg);
    filter: hue-rotate(20deg);
    box-shadow: 0 10px 20px rgba(255, 69, 0, 0.7);
  }
  100% {
    transform: scale(1) rotate(-2deg);
    filter: hue-rotate(-20deg);
    box-shadow: 0 10px 20px rgba(255, 69, 0, 0.7);
  }
}

.flaming {
  animation: flaming 2s infinite alternate;
}
