.Join3 {
  display: flex;
  padding: 0 2rem;
  gap: 10rem;
  padding-top: 7rem;
  background: var(--appColor3);
}
.left-c3 {
  color: var(--website-3-color-1);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: block;
}
.left-c3 > hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;
}
.left-c3 > div {
  display: flex;
  gap: 1rem;
}
.right-c3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.email3-container {
  display: flex;
  gap: 3rem;
  background-color: var(--caloryCard3);
  padding: 1rem 2rem;
}
.email3-container > input {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--website-3-color-1);
}
::placeholder {
  color: var(--website-3-color-1);
}
.btn3-c3 {
  color: var(--website-3-color-1);
  background-color: var(--orange3);
}

/* res mobike */
@media screen and (max-width: 768px) {
  .Join3 {
    flex-direction: column;
    gap: 1rem;
  }
  .left-c3,
  .stroke-text {
    font-size: 2px;
    flex-direction: column;
  }
  .right-c3 {
    padding: 2rem;
  }
}
