.Join3{
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
    margin-top: 7rem;
}
.left-c3{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.left-c3>hr{
    position: absolute;
    width: 10.5rem;
    border: 2px solid #f48915;
    border-radius: 20%;
    margin: -10px 0;
}
.left-c3>div{
    display: flex;
    gap: 1rem;
}
.right-c3{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.email3-container{
    display: flex;
    gap: 3rem;
    background-color:gray;
    padding: 1rem 2rem;
}
.email3-container>input{
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--lightgrayz);  
}
::placeholder{
    color: var(--lightgray);
}
.btn-c3{
    color: white;
    background-color: #f48915 ;
}

/* res mobike */
@media screen and (max-width:768px){
    .Join3{
        flex-direction: column;
        gap: 1rem;
    }
    .left-c3{
        font-size: x-large;
        flex-direction: column;
    }
    .right-c3{
        padding: 2rem;
    }
}