/* hero2.css */

#hero2 {
  margin-top: 4rem;
}

.hero2__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.hero2__icon {
  max-width: 20px;
  margin: 0 auto;
}
.hero2__icon:hover {
  transition: var(--transition2);
  background: var(--website-2-color-2);
  border-radius: 50%;
}
.hero2__me {
  width: 100%;
  aspect-ratio: 0/1;
  border-radius: 2rem;
  background: linear-gradient(120deg, transparent, var(--website-2-color-3), transparent);
  display: grid;
  place-items: center;
}

.hero2__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition2);
}

.hero2__me-image:hover {
  transform: rotate(0deg);
}

.hero2__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.hero2__card {
  background: var(--website-2-color-2);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.hero2__card:hover {
  background: linear-gradient(to bottom, var(--website-2-color-3), var(--website-2-color-2));
  border-color: var(--website-2-color-4);
  cursor: default;
}

.hero2__icon {
  color: var(--website-2-color-4);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  width: 20%;
}

.hero2__card h5 {
  font-size: 0.95rem;
}

.hero2__card small {
  font-size: 0.7rem;
  color: var(--website-2-color-5);
}

.hero2__content p {
  margin: 2rem 0 2.6rem;
  color: var(--website-2-color-5);
}

/* Media Queries for Tablets */
@media screen and (max-width: 1024px) {
  .hero2__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .hero2__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .hero2__content p {
    max-width: 1rem 0 1.5rem;
  }
}

/* Media Queries for Small Phones */
@media screen and (max-width: 600px) {
  .hero2__me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .hero2__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .hero2__content {
    text-align: center;
  }
  .hero2__content p {
    margin: 1.5rem 0;
  }
}
