.pricing__container11 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
  background-color: var(--website-11-color-2);
}

.pricing__item11 {
  flex: 0 0 calc(33.333% - 1.875rem);
  padding: 1.875rem 2.5rem;
  background-color: var(--website-11-color-2);
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding-bottom: 1.875rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .pricing__container11 {
    justify-content: flex-start;
  }

  .pricing__item11 {
    flex: 0 0 calc(100% - 1.875rem);
  }
}
