.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--color-1); 
  width: 100%;
  z-index: 12;
}

.main-logo {
  color: #fff;
  font-size: 30px;
  img {
    width: 50px;
  }
}
.signIn-btn {
  color: white;
  background-color: var(--color-3);
  padding: 5px 10px;
  border-radius: 5px;
  transition: var(--transition);
  box-sizing: 0 0 2px #1111113f;
}
.signIn-btn:active {
  transform: scale(0.95);
  color: #f1f1f1;
}
