.client-logos{
    display: flex;
    flex-direction: row;
    gap:108px ;
    margin-top: 115px;
    width: 1090px;
}
.client-logos .l1-l2{
    display: flex;
    flex-direction: row;
    gap: 108px;
}

.client-logos .l3-l4-l5{
    display: flex;
    flex-direction: row;
    gap: 108px;
}

@media screen and (min-width: 650px) and (max-width: 1200px){
.client-logos{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
   
}
.client-logos .l1-l2{
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    margin-left: 50px;

}
.client-logos .l3-l4-l5 {
    max-width: 80%;
    display: flex;
    flex-direction: row;
justify-content:flex-start;
margin-left: 200px;
gap: 50px;
}
}





@media screen and (min-width: 650px) and (max-width: 900px) {

}


@media screen and (max-width: 600px) {
.client-logos{ 
    max-width: 80%;
    
}
}