/* footer15.css */
.footer15 {
  padding: 0 3px;
  background-color: transparent;
  background-color: var(--website-15-color-1);
}

.footer15-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.footer15-text {
  font-size: 19px;
  color: var(--website-15-color-1);;
  font-weight: bold;
}

.footer15-icons {
  display: flex;
  gap: 60px;
  padding-bottom: 6px;
  font-size: 22px;
  margin-left: 300px;
  cursor: pointer;
}

.footer15-img {
  width: 40px;
  height: 40px;
}

.footer15-titles {
  margin-left: 180px;
}

.footer15-title {
  font-weight: bold;
}

.footer15-title-4 {
  font-size: 17px;
  margin-left: 250px;
}

.footer15-title-5,
.footer15-title-4 {
  font-weight: bold;
}
.footer15-subtitle {
  margin-left: 100px;
}
@media (max-width: 1024px) {
  .footer15-icons {
    margin-left: 70px;
    gap: 20px;
  }

  .footer15-titles {
    margin-left: 10px;
    font-size: 13px;
  }

  .footer15-title-4 {
    margin-left: 10px;
    font-size: 13px;
  }
  .footer15-subtitle {
    display: none;
  }
}
