.testimonial__qoute16 {
  background-color: var(--container-color);
  padding: 2.5rem 2rem;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  position: relative;
}

.testimonial__icon16 {
  position: absolute;
  bottom: -1.7rem;
  left: 2.5rem;
  color: var(--container-color);
  font-size: var(--big-font-size);
}

.testimonial__content16 {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.testimonial__img-wrapper16 {
  border: 2px dashed var(--first-color);
  padding: 0.25rem;
  width: 80px;
  height: 80px;
  margin-inline: 1.25rem;
}
.testimonial__img-wrapper16,
.testimonial__img16 {
  border-radius: 50%;
}

.testimonial__title16 {
  font-size: var(--larger-font-size);
}

.testimonial__rating16 {
  display: flex;
  column-gap: 0.25rem;
  color: var(--first-color);
  margin-top: 0.25rem;
}

/* MEDIA QUERY */

@media only screen and (max-width: 992px) {
  .testimonials__icon16 {
    bottom: -1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .testimonial__icon16 {
    bottom: -1.25rem;
  }
}

@media only screen and (max-width: 350px) {
  .testimonial__qoute16 {
    padding: 1.5rem 1.25rem 2rem;
  }
  .testimonia__img-wrapper16 {
    width: 70px;
    height: 70px;
    margin-inline: 1rem;
  }
}
