.plans-container3 {
  margin-top: -4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
.plans-header3 {
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: var(--website-3-color-1);
  text-transform: uppercase;
  font-style: italic;
  margin-top: 5rem;
  z-index: 1;
}
.plans3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.plans-blur-1 {
  width: 32rem;
  height: 23rem;
  top: 6rem;
  left: 0rem;
}
.plans-blur-2 {
  width: 32rem;
  height: 23rem;
  top: 10rem;
  right: 0rem;
}
.plan3 {
  display: flex;
  flex-direction: column;
  background-color: var(--caloryCard);
  color: var(--website-3-color-1);
  gap: 2rem;
  padding: 1.5rem;
  width: 15 rem;
  z-index: 1;
}
.plan3:nth-child(2) {
  background: var(--planCard);
  transform: scale(1.1);
}

.plan3 > :nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
}
.plan3 > :nth-child(3) {
  font-size: 1.5rem;
  font-weight: bold;
}
.plan3 > :nth-child(5) {
  font-size: 0.8rem;
}
.features3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feature3 > img {
  width: 1rem;
}
.plans3 > :nth-child(2) > svg {
  fill: var(--website-3-color-1);
}
.btn {
  color: var(--balck);
}
.plans3 > :nth-child(2) > button {
  color: var(--orange);
}

/* res mobile */
@media screen and (max-width: 768px) {
  .plans-header3 {
    flex-direction: column;
    gap: 1rem;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;
  }
  .plans3 {
    flex-direction: column;
  }
  .plans3 > :nth-child(2) {
    transform: none;
  }
  .plans-container3 {
    z-index: 0;
  }
  .plans-blur-1 {
    display: none;
  }
}
