:root {
  --primary-color1: #1c2448;
  --primary-color2: #ce79cc;
  --primary-color2-dark: #7a4179;
  --grey: #777777;
  --white: #ffff;

  --website-color-1: #fff;
  --website-color-2: #cda274;
  --website-color-3: #292f36;
  --website-color-4: #f4f0ec;
  --website-border-raduis: 10;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
