/* this globals only for shaaban and abdelmoaty */
/* for mainPages and dashboard and for root-colors and root-fonts of all */
/* root-colors and root-fonts ----all team will use them */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border list-none p-0 m-0 scroll-smooth;
}

:root {
  --primary-color1: #1c2448;
  --primary-color2: #ce79cc;
  --primary-color2-dark: #7a4179;
  --grey: #777777;
  --white: #ffff;

  --website-color-1: #fff;
  --website-color-2: #cda274;
  --website-color-3: #292f36;
  --website-color-4: #f4f0ec;
  --website-border-raduis: 10;

  --website-filed-title: #1a2345;
}
html{
  background-color: white;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

/* TYPOGRAPHY */
.h1-bold {
  @apply text-[36px] font-bold leading-[140%] tracking-tighter;
}

.h1-semibold {
  @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
}

.h2-bold {
  @apply text-[30px] font-bold leading-[140%] tracking-tighter;
}

.h3-bold {
  @apply text-[24px] font-bold leading-[140%] tracking-tighter;
}

.base-semibold {
  @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
}

.base-medium {
  @apply text-[16px] font-medium leading-[140%];
}

.base-regular {
  @apply text-[16px] font-normal leading-[140%];
}

.body-bold {
  @apply text-[18px] font-bold leading-[140%];
}

.body-medium {
  @apply text-[18px] font-medium leading-[140%];
}

.small-semibold {
  @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
}

.small-medium {
  @apply text-[14px] font-medium leading-[140%];
}

.small-regular {
  @apply text-[14px] font-normal leading-[140%];
}

.subtle-semibold {
  @apply text-[12px] font-semibold leading-[140%];
}

.tiny-medium {
  @apply text-[10px] font-medium leading-[140%];
}

/* UTILITIES */

.flex-center {
  @apply flex justify-center items-center;
}
.flex-column{
  @apply flex justify-center items-center flex-col;

}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  width: 4px;
  height: 2px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--primary-color1);
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-color2);
  background: var(--primary-color2);
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

.common-container {
  @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
}

/* All Users */
.user-container {
  @apply max-w-5xl flex flex-col items-start w-full gap-6 md:gap-9;
}

.user-grid {
  @apply w-full grid grid-cols-1  md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
}

/* Controller */

.dashboard-container {
  @apply w-full;
}

@media screen and (min-width: 1600px) {
  .dashboard-container {
    width: 1600px;
  }
}

.controller {
  @apply flex flex-col gap-4 bg-white py-4 pl-2 pr-1;
  color: var(--primary-color2);
  border-bottom: 4px solid var(--primary-color2);
  border-right: 4px solid var(--primary-color2);
}
.update-controller {
  color: white;
  padding: 1rem;
  background-color: var(--primary-color2-dark);
  border-bottom: 4px solid var(--primary-color2);
  border-right: 4px solid var(--primary-color2);
}
.controller-name {
  @apply body-bold  cursor-pointer capitalize;
}

.controller-field {
  @apply flex flex-col border-2 rounded-lg border-solid pb-1 overflow-hidden text-black;
  border-color: var(--grey);
  @apply flex flex-col border-2 rounded-lg border-solid pb-1 overflow-hidden text-black;
  border-color: var(--grey);
}
.controller-label {
  @apply text-[16px]  capitalize pl-1 border-b-2;
  border-color: var(--grey);
  background-color: #fff0fe;
  color: var(--website-filed-title);
}
.input-controller {
  @apply text-black  p-2 h-auto outline-none w-full custom-scrollbar;
  @apply text-black  p-2 h-auto outline-none w-full custom-scrollbar;
}

.card_img {
  @apply h-64  lg:h-[450px] w-full rounded-[24px] object-cover mb-5;
}
