/* this globals only for shaaban and abdelmoaty */
/* for mainPages and dashboard and for root-colors and root-fonts of all */
/* root-colors and root-fonts ----all team will use them */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border list-none p-0 m-0 scroll-smooth;
}

:root {
  --primary-color1: #1c2448;
  --primary-color2: #ce79cc;
  --primary-color2-dark: #7a4179;
  --website-filed-title: #1a2345;

  --website-border-radius: 10;

  --website-filed-title: #1a2345;

  /*for main Page*/
  --color-1: #430c7b;
  --color-2: #30086b;
  --color-3: #ce79cc;
  --color-4: #fdc2b8;
  --color-5: #6b3974;
  --modal-button: #19204a;
  --transition: 0.4s;

  --title-light: white;
  --title-dark: #3d3d3d;
  --discription-light: #f7f7f7b5;
  --discription-dark: #444d5c;
}
html {
  background-color: white;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* RTL Styles */
.rtl {
  direction: rtl;
  text-align: right;
}

/* LTR Styles */
.ltr {
  direction: ltr;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

/* TYPOGRAPHY */
.h1-bold {
  @apply text-[36px] font-bold leading-[140%] tracking-tighter;
}

.h1-semibold {
  @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
}

.h2-bold {
  @apply text-[30px] font-bold leading-[140%] tracking-tighter;
}

.h3-bold {
  @apply text-[24px] font-bold leading-[140%] tracking-tighter;
}

.base-semibold {
  @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
}

.base-medium {
  @apply text-[16px] font-medium leading-[140%];
}

.base-regular {
  @apply text-[16px] font-normal leading-[140%];
}

.body-bold {
  @apply lg:text-[18px] font-bold leading-[140%] text-[16] max-md:text-[18px];
}

.body-medium {
  @apply text-[18px] font-medium leading-[140%];
}

.small-semibold {
  @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
}

.small-medium {
  @apply text-[14px] font-medium leading-[140%];
}

.small-regular {
  @apply text-[14px] font-normal leading-[140%];
}

.subtle-semibold {
  @apply text-[12px] font-semibold leading-[140%];
}

.tiny-medium {
  @apply text-[10px] font-medium leading-[140%];
}

/* UTILITIES */

.flex-center {
  @apply flex justify-center items-center;
}
.flex-column {
  @apply flex justify-center items-center flex-col;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  width: 4px;
  height: 2px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--primary-color1);
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-color2);
  background: var(--primary-color2);
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

.common-container {
  @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
}

/* All Users */
.user-container {
  @apply max-w-5xl flex flex-col items-start w-full gap-6 md:gap-9;
}

.user-grid {
  @apply w-full grid grid-cols-1  md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
}

/* Controller */

.dashboard-container {
  @apply w-full;
}
.dashboard-right-section {
  @apply max-md:w-full md:w-70 flex-auto  flex justify-start flex-col items-center text-black p-2;
  height: calc(100vh - 56px);
}
@media screen and (min-width: 1600px) {
  .dashboard-container {
    width: 1600px;
  }
}

.controller {
  @apply flex flex-col gap-4 bg-white py-4 pl-2 pr-1;
  color: var(--primary-color2);
  border-bottom: 4px solid var(--primary-color2);
  border-right: 4px solid var(--primary-color2);
  border-left: 4px solid var(--primary-color2);
  position: relative;
}
.controller-name::after {
  content: "";
  position: absolute;
  left: 0;
  top: 57px;
  /* to edit height of controller              ****************8888888888888888888888888******************** */
  width: 100%;
  height: 4px;
  background-color: var(--primary-color2);
}
@media (min-width: 767px) and (max-width: 1025px) {
  .controller-name::after {
    top: 56px;
  }
}
@media (max-width: 767px) {
  .controller-name::after {
    top: 58px;
  }
}
.controller:hover .controller-name {
  color: var(--primary-color1);
}
.dashboard-subContainer {
  height: auto;
}
@media (min-width: 767px) {
  .dashboard-subContainer {
    height: calc(100vh - 56px);
  }
}
.update-controller {
  color: white !important;
  padding: 1rem;
  background-color: var(--primary-color2-dark);
  border-bottom: 4px solid var(--primary-color2);
  border-right: 4px solid var(--primary-color2);
}
.update-controller h3{
  color: white
}
.controller-name {
  @apply body-bold  cursor-pointer capitalize;
  transition: all 0.3s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.controller > div:nth-child(2) {
  margin-top: 1rem;
}
.controller-field,
.controller-field_without-padding {
  @apply flex flex-col border-2 rounded-lg border-solid pb-1 overflow-hidden text-black;
  border-color: #777777;
}
.controller-field_without-padding {
  padding-bottom: 0;
}
.subController {
  padding-left: 0.5rem;
  padding-right: 4px;
}
.subController label{
  color: #1A2345;
}
.subController:not(:last-child) {
  border-bottom: 2px solid #777777;
}
.controller-label {
  @apply text-[14px]  capitalize px-3 py-2 border-b-2;
  border-color: #777777;
  background-color: #fff0fe;
  color: var(--website-filed-title);
}
.controller-label_without-border {
  @apply text-[14px]  capitalize px-3 py-2;
  background-color: #fff0fe;
  color: var(--website-filed-title);
}

.controller-array {
  @apply flex flex-col rounded-lg p-1;
  gap: 1rem;
  border: 2px solid #777777;
}
.controller-btn-add {
  background: #777777;
  border: none;
  color: white !important;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 10px;
}
.controller-btn-add.inner {
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  color: white
}
.input-controller {
  @apply text-black  p-2 h-auto outline-none w-full custom-scrollbar;
  @apply text-black  p-2 h-auto outline-none w-full custom-scrollbar;
  border-color: transparent;
  background: #F2F2F2;
}
.dashboard-color-picker {
  margin-right: 4px;
  border: none;
  background: none;
  height: auto;
  width: auto;
  outline: none;
  &::-webkit-color-swatch-wrapper {
    height: 20px;
    width: 20px;
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
  }
}

/* .dashboard-color-generate {
  margin-right: 4px;
  border: none;
  background: url(assets/images/deploy.jpg);
  height: auto;
  width: auto;
  outline: none;
  &::-webkit-color-swatch-wrapper {
    height: 20px;
    width: 20px;
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
  }
} */
.dashboard-color-generate {
  margin-right: 4px;
  border: none;
  background: url("assets/images/deploy.jpg");
  height: auto;
  width: auto;
  outline: none;
}
.dashboard-color-generate::-webkit-color-swatch-wrapper {
  height: 20px;
  width: 20px;
  padding: 0;
}
.dashboard-color-generate::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

.card_img {
  @apply h-64  lg:h-[450px] w-full rounded-[24px] object-cover mb-5;
}

.websites.design-card .trash {
  opacity: 0;
}
.websites.design-card:hover .trash {
  opacity: 1;
}
