.navbar3 {
  display: flex;
  justify-content: space-between;
}

.logo3 {
  width: 10rem;
  height: 3rem;
}
.navbar3-menu {
  list-style: none;
  display: flex;
  gap: 6rem;
  color: var(--color11);
}
.navbar3-menu > li {
  cursor: pointer;
}
.navbar3-menu > li:hover {
  cursor: pointer;
  color: var(--color7);
}
.menu-icon {
  width: 30px;
  height: 20px;
  position: fixed;
}
/* res mobile */
@media screen and (max-width: 768px) {
  .navbar3 > :nth-child(2) {
    position: fixed;
    right: 1rem;
    z-index: 2;
  }
  .navbar3-menu {
    flex-direction: column;
    padding: 2rem;
    position: fixed;
    right: 1rem;
  }
}
