.navbar3 {
  display: flex;
  justify-content: space-between;
  background-color: var(--website-3-color-2);
  padding: 10px 20px;
}

.logo3 {
  width: 10rem;
  height: 3rem;
}

.navbar3-menu {
  color: var(--website-3-color-5);
  margin-top: 10px;
  z-index: 2;
  list-style: none;
  display: flex;
  gap: 6rem;
  margin-top: 10px;
}

.menu-icon3 {
  /* position: fixed; */
  width: 30px;
  height: 20px;
  right: 1rem;
  z-index: 2;
  background-color: none;
}

/* res mobile */
@media screen and (max-width: 768px) {
  .navbar3 > :nth-child(2) {
    z-index: 2;
  }
  .ltr .navbar3 > :nth-child(2) {
    right: 1rem;
    left: auto;
  }
  .rtl .navbar3 > :nth-child(2) {
    left: 1rem;
    right: auto;
  }

  .navbar3-menu {
    flex-direction: column;
    position: fixed;
    margin-right: 0;
    gap: 2rem;
  }

  .ltr .navbar3-menu {
    right: 0.5rem;
  }
  .rtl .navbar3-menu {
    left: 0.5rem;
  }

  .navbar3-menu-mobile {
    background: var(--website-3-color-2);
    padding: 2rem;
  }
}
