.design-6 .app__container {
  background: var(--website-6-color-4);
  border-radius: 10px;
}

.design-6 .app__img {
  margin-bottom: -100px;
}

.design-6 .app__content h5 {
  color: var(--website-6-color-1);
}

.design-6 .app__content h2 {
  color: var(--website-6-color-1);
  font-weight: 600;
}

.design-6 .app__content {
  padding-top: 50px;
}

.design-6 .app__content p {
  color: var(--website-6-color-5);
}

.design-6 .btn__apple {
  background: var(--website-6-color-1);
  border: none;
  color: var(--website-6-color-5);
  padding: 7px 25px;
  border-radius: 5px;
}

.app__btns {
  margin-bottom: 25px;
}


.design-6 .btn__google {
  background: var(--website-6-color-5);
  color: var(--website-6-color-1);
  border: none;
  padding: 7px 25px;
  border-radius: 5px;
}


.design-6 .btn__apple a {
  color: var(--website-6-color-5);
}

.design-6 .btn__google a {
  color: var(--website-6-color-1);
}

@media only screen and (max-width: 992px) {
  .design-6 .app__img img {
    width: 100%;
  }

  .design-6 .app__content h5 {
    font-size: 1rem;
  }

  .design-6 .app__content h2 {
    font-size: 1.5rem;
  }

  .design-6 .app__content p {
    font-size: 0.7rem;
    line-height: 25px;
  }

  .design-6 .btn__apple,
  .design-6 .btn__google {
    padding: 5px 20px;
    font-size: 0.8rem;
  }

  .design-6 .app__content {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .design-6 .app__content {
    padding: 30px;
  }

  .design-6 .app__img {
    margin-bottom: 0;
  }
}