.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center; 
    align-items: center;
  }
  .card{ 
      width: 300px;
      height: 350px;
      border: 1px solid #dddbdb;
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
      background-color: #F4F0EC
  }
  
  .card p {
      align-items: center;
      font-size: 10px;
    } 
  
   #price2{
      color:#CDA274;
   }
   #para2{
      background-color: black;
      color: #dddbdb;
      border-radius: 10px;
      padding: 5px;
      width: 70%;
      margin-left: 19px;
   }
   .button1,
   .button3{
      margin-top:40px;
      padding: 15px;
      color: white;
      background-color: #CDA274;
      border: 1px solid #dddbdb;
      border-radius: 12px;
      font-weight: bold;
   }
   
   .button2{
      margin-top: 15px;
      padding: 15px;
      color: white;
      background-color: #292F36;
      border: 1px solid #dddbdb;
      border-radius: 12px;
      font-weight: bold;
   }
   @media screen and (max-width: 680px) {
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .card {
      width: 80%;
      margin: 20px auto;
    }
  
    .button1,
    .button2,
    .button3 {
      margin-top: 20px;
    }
  }