.teams5 {
  padding-bottom: 5rem;
  background-color: var(--website-5-color-4);
}

.teams5-mainSectiom {
  text-align: center;
}

.teams5-mainSectiom h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--website-5-color-5);
}

.teams5-travelersCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.teams5-single-card {
  position: relative;
  height: 250px;
  width: 170px;
  max-width: 250px;
  overflow: hidden;
  border-radius: 6rem;
  gap: 1rem;
}

.destinationImage,
.travelerImage,
.travelerName {
  position: absolute;
}

.destinationImage {
  min-height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
}

.travelerImage {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  bottom: 30px;
  left: 35%;
  transform: translateX(-50%);
  border: 3px solid rgba(255, 255, 255, 0.637);
  transition: 0.4s ease-in-out;
  animation: animated 2.3s infinite;
}

@keyframes animated {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.travelerName {
  bottom: -100%;
  width: 100%;
  height: max-content;
  background: var(--website-5-color-2);
  padding: 1rem 1rem;
  transition: 0.4s ease-in-out;
  animation: animatedBorders 2.3s infinite;
}
.travelerName span {
  display: block;
  font-weight: 700;
  color: var(--website-5-color-5);
}

.travelerName p {
  font-size: 13px;
  color: var(--website-5-color-6);
  line-height: 22px;
  font-style: italic;
}

@keyframes animatedBorders {
  0% {
    border-radius: 0rem;
  }
  50% {
    border-radius: 2rem;
  }
  100% {
    border-radius: 0rem;
  }
}

.teams5-single-card:hover .travelerName {
  bottom: 0;
  transition: 1s ease-in-out;
}
.teams5-single-card:hover .travelerImage {
  bottom: 110px;
  transition: 1s ease-in-out;
}
