/* .clip11-path0-container1 {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  --first-color: hsl(260, 100%, 65%);
  width: 25px;
  height: 25px;
  background: var(--first-color);
  top: 10%;
  left: 10%;
  position: absolute;
}
.clip11-path1-container1 {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  --text-color: hsl(244, 16%, 43%);
  width: 25px;
  height: 25px;
  background: var(--text-color);
  top: 20%;
  left: 40%;
  position: absolute;
}
.clip11-path2-container1 {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  --title-color: hsl(244, 24%, 26%);
  width: 25px;
  height: 25px;
  background: var(--title-color);
  left: 15%;
  top: 80%;
  position: absolute;
}
.clip11-path3-container1 {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  --pink__gradient: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  width: 25px;
  height: 25px;
  background: var(--pink__gradient);
  gap: 5px;
  left: 2%;
  right: 10%;
  position: absolute;
}
.clip11-path4-container1 {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  --blue-gradient: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  width: 25px;
  height: 25px;
  background: var(--blue-gradient);
  left: 44%;
  top: 10%;
  position: absolute;
}
.clip11-path5-container1 {
  clip-path: polygon(100% 0%, 35% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  --orange: #f4156e;
  width: 25px;
  height: 25px;
  background: var(--orange);
  left: 20%;
  top: 50%;
  position: absolute;
}
.clip11-path6-container1 {
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  --blue-gradient: linear-gradient(157.81deg, #faf1de -43.27%, #bef3f5 -21.24%, #f09de8 12.19%, #8e7deb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  width: 25px;
  height: 25px;
  background: var(--blue-gradient);
  top: 20%;
  right: 25%;
  position: absolute;
}
.clip11-path7-container1 {
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  --planCard1: linear-gradient(left to right, #fa5042 1.14%, #ffa739 100.75%);
  width: 30px;
  height: 30px;
  background: gold;
  right: 3%;
  position: absolute;
}
.clip11-path8-container1 {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  --blue-gradient: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  width: 25px;
  height: 25px;
  background: goldenrod;
  right: 2%;
  top: 10%;
  position: absolute;
}
.clip11-path9-container1 {
  clip-path: polygon(100% 0%, 35% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  --orange: #f4156e;
  width: 25px;
  height: 25px;
  background: var(--orange);
  right: 20%;
  top: 50%;
  position: absolute;
}

.clip11-path10-container1 {
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  --blue-gradient: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  width: 25px;
  height: 25px;
  background: var(--blue-gradient);
  right: 12%;
  position: absolute;
}
.clip11-path11-container1 {
  clip-path: circle(50% at 50% 50%);
  --text-color: hsl(244, 90%, 43%);
  width: 25px;
  height: 25px;
  background: var(--text-color);
  left: 6%;
  position: absolute;
} */
