.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
  
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;
  }
  
  .card {
    flex: 1 1 250px;
    max-width: 170px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card img {
    width:100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .selected-card {  
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: white;
    
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 680px) {
    .card-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;
    }
  }
  
  
  
  