.feature1-layout {
    display: flex;
width: 1200px;
justify-content: center;
align-items: center;
gap: 75px;


}
.content {
    display: flex;
    width: 472px;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    flex-shrink: 0;

}
.sub-content {

    display: flex;
    width: 472px;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
}
.text {

    width: 420px;
    color: #292F36;
font-family: DM Serif Display;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 62.5px */
letter-spacing: 1px;

}
.sub-text {

    width: 472px;
    color: #4D5053;
font-family: Jost;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: 0.22px;

}
.contact-container {

    display: flex;
    width: 277px;
    flex-direction: column;
    align-items: flex-start;
    gap: 47px;
}
.call {

    display: flex;
    width: 277px;
    align-items: center;
    gap: 15px;

}
.call-icon {
    width: 93px;
    height: 93px;
    flex-shrink: 0;


}
.call-number {
    display: flex;
    width: 141px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    color: #4D5053;
font-family: Jost;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
letter-spacing: 0.24px;

}
.Call-Us {
    display: flex;
    width: 169px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    color: #4D5053;
font-family: Jost;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: 0.22px;
}

.button-container {

    display: flex;
    padding: 26px 31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
background: #292F36;
box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}
.Button {
    display: flex;
    width: 176.141px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.GetFreeEstimate {

    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
}
.Vector {
    width: 15.141px;
    height: 13.177px;
    flex-shrink: 0;
    stroke-width: 2px;
stroke: #CDA274;

}
.image-container {

    width: 653px;
    height: 700px;
    flex-shrink: 0;
}
.image-background {
    width: 700px;
    height: 653px;
    transform: rotate(90deg);
    flex-shrink: 0;
    border-radius: 326.5px 0px 123px 0px;
background: #C4C4C4;

}
.image{
    width: 732px;
height: 1097px;
flex-shrink: 0;
}