.feature1-layout {
  background: var(--website-color-1);

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-content1 {
  text-align: left;
  gap: 33px;
  width: 472px;
}
.feature-img-background1 {
  border-top-right-radius: 326.5px;
  border-bottom-left-radius: 123px;
  width: 95%;
  padding-right: 5px;
}
.feature-contact-details1 {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.feature-phone1 {
  display: flex;
  flex-direction: column;
}
.feature-call1 {
  line-height: 1.3;
  font-size: 20px;
  font-weight: 700;
}
.feature-btn1 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  text-align: center;
  align-items: center;
  background-color: var(--website-color-3);
  background-blend-mode: difference;
  width: 230px;
  justify-content: center;
  height: 70px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
.feature-contact-container1 {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 30px;
}

.btn-txt {
  font-size: 15px;
}

.feature-title-1 {
  color: var(--website-color-3);
  font-size: 50px;
  font-weight: 700;
}
.feature-sub-content1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feature-call-icon1 {
}
.featue1-icon-cover {
  display: flex;
  background: var(--website-color-4);
  background-size: cover;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 55px;
}

@media (max-width: 768px) {
  .feature1-layout {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    width: 100%;
  }
  .feature-content1 {
    text-wrap: wrap;
    text-align: center;
    padding: 12px 12px;
    padding-left: 20px;
    width: 80%;
  }
  .feature-title-1 {
    color: var(--website-color-3);
    font-size: 30px;
    font-weight: 400;
  }
}