.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Responsive Container */
@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgb(255, 255, 255);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 80px;
}

header .logo img {
  height: 30px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .toggle-menu {
  color: var(--website-color-3); /* Replace with your actual color value */
  font-size: 22px;
  cursor: pointer;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }

  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  header nav ul li a {
    padding: 15px !important;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 600px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--website-color-4); /* Replace with your actual color value */
    box-shadow: 0 2px 4px var(--website-color-3); /* Replace with your actual color value */
  }

  header nav ul.show {
    display: flex;
  }

  header nav ul li {
    width: 100%;
  }

  header nav ul li a {
    padding: 15px;
    display: block;
    color: var(--website-color-3); /* Replace with your actual color value */
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
  }
}

header nav ul li a {
  padding: 20px 10px;
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.navbar-menu-container {
  display: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .navbar-menu-container {
    display: block;
  }
}
