
  
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  
  /* Responsive Container */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
 
/* Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  
  .services .srv-box i {
    color: var( --website-color-2);
  }
  
  @media (min-width: 768px) {
    .services .services-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
  }
  
  .services .srv-box {
    display: flex;
  }
  
  .services .srv-box i {
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .services .srv-box {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 40px;
    }
  
    .services .srv-box i {
      margin: 0 0 30px;
    }
  }
  
  @media (min-width: 992px) {
    .services .srv-box {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
    }
  }
  
  /* Large Screens */
  @media (min-width: 1200px) {
    .services .srv-box {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
    }
  }
  
  .services .srv-box h3 {
    margin-bottom: 30px;
  }
  
  .services .srv-box p {
    line-height: 2;
    color: #777;
  }