.footer5 {
  background: var(--website-5-color-2);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.footer5-mainSection {
  display: grid;
  align-items: center;
  gap: 2.5rem;
}

.footer5-gridOne {
  gap: 1rem;
  justify-content: center;
  margin: auto;
}

.footer5-gridOne p {
  font-size: 13px;
  color: var(--website-5-color-6);
  line-height: 22px;
}

.footer5-logo {
  width: 20%;
}

.socialIcon5 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}

.footer5-singleIcon {
  height: 50px;
  width: 30px;
  border-radius: 10rem;
  border: 1px solid hsl(0, 0%, 83%);
  box-shadow: rgb(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 0.4rem;
  color: var(--website-5-color-6);
  font-size: 1.3rem;
  cursor: pointer;
}

.footer5-singleIcon:hover {
  background: var(--website-5-color-1);
  transform: translateY(-7px);
  transition: 0.4s ease-in-out;
  border: 1px solid var(--website-5-color-5);
  color: var(--website-5-color-5);
}

.footer5-links {
  display: grid;
}

.link-title {
  color: var(--website-5-color-5);
  font-weight: 550;
  display: block;
  padding-bottom: 1rem;
}

.footer5-links li {
  list-style: none;
  cursor: pointer;
}
.footer5-links-element {
  display: block;
  color: var(--website-5-color-6);
  transition: 0.4s ease-in-out;
  padding: 0.3rem 0;
  text-decoration: none;
}

.footer5-links-element:hover {
  transform: translateX(7px);
  color: var(--website-5-color-1);
}

@media screen and (min-width: 480px) {
  .footer5-mainSection {
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
  }
  .footer5-links {
    justify-content: center;
  }
}

@media screen and (min-width: 570px) {
  .footer5-mainSection {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
  }
  .footer5-links {
    justify-content: center;
  }
}

@media screen and (min-width: 680px) {
  .footer5-mainSection {
    grid-template-columns: repeat(4, 1fr);
  }
}
