.about11__container {
  grid-template-columns: 3fr 9fr;
  column-gap: 1.875rem;
  margin-bottom: 9rem;
}
.section__title11 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-right: 845px;
  color: var(--color3);
}
.aboutImg11 {
  margin-left: 200px;
}
.about__data11 {
  padding: 1.875rem;
  background-color: var(--color22);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(4, 3fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
  margin-left: 150px;
  grid-template-columns: 1fr 2fr;
  width: 70%;
  height: 100%;
}
.about__info11 {
  grid-row: span 4;
}
.about__data11::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--color22);
  position: absolute;
  left: -0.93rem;
  top: 20%;
}
.about11__description {
  margin-bottom: 2rem;
  text-align: justify;
}
.about__description11 {
  padding-bottom: 1rem;
  text-align: justify;
}
.about__skills11 {
  row-gap: 1.25rem;
  grid-row: span 2;
}
.skills__titles11 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.skills__name11 {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.skills__number11 {
  line-height: 1.2;
}
.skills__data11 {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.skills__bar11,
.skills__percentage11 {
  height: 7px;
  border-radius: 0.25rem;
}
.skills__bar11 {
  background-color: var(--color22);
}
.skills__percentage11 {
  display: block;
  background-color: var(--color1);
}
.development {
  width: 90%;
  background-color: var(--color3);
}
.ui__design {
  width: 80%;
  background-color: var(--color1);
}
.photography {
  width: 60%;
  background-color: var(--color6);
}
.about___boxes11 {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
  margin-top: 2.35rem;
  margin-bottom: 4.35rem;
}
.about__box11 {
  display: flex;
  column-gap: 1.5rem;
}
.about__icon11 {
  font-size: var(--h1-font-size);
  width: 40px;
  height: 40px;
}
.about__title11 {
  font-size: 1.875rem;
}

@media screen and (max-width: 1024px) {
  .about11__container {
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 1.875rem;
  }

  .about__data11 {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
  }
  .section__title11 {
    width: 150px;
    font-size: 1.5rem;
    margin-left: 70px;
  }
  .about__data11::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--color22);
    position: absolute;
    left: -0.93rem;
    top: 20%;
  }

  .aboutImg11 {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #btn11_1 {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .about__box11 {
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: center;
  }

  .about___boxes11 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    justify-content: center;
    margin-left: 10px;
  }
}


/* ///////////////////////////////////////////////////////////////////////////////// */
.services__container11_2 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
  margin-bottom: 4.357rem;
  display: flex;
  flex-wrap: wrap;
}

.services__card11_2 {
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.875rem;
  border-radius: var(--broder-radius);
  background-color: var(--color22);
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 300px;
}

.services__card11_2:hover {
  transform: translateY(-10px);
}
.services__card11_2:nth-child(1) {
  background-color: var(--color6);
  box-shadow: 0px 5px 20px 0px rgb(108, 108, 229/50%);
}
.services__card11_2:nth-child(2) {
  background-color: var(--color3);
  box-shadow: 0px 5px 20px 0px rgb(249, 215, 76/50%);
}
.services__card11_2:nth-child(3) {
  background-color: var(--color6);
  box-shadow: 0px 5px 20px 0px rgb(249, 123, 139/50%);
}
.services__img11_2 {
  margin-bottom: 1.25rem;
}
.services__title11_2 {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  color: var(--color22);
}
.services__description11_2 {
  color: var(--white0011);
}
.services__card11_2:nth-child(2) .services__title11_2 {
  color: var(--color5);
}
.services__card11_2:nth-child(2) .services__description11_2 {
  color: var(--color5);
}

@media screen and (max-width: 1024px) {
  .services__container11_2 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.875rem;
    margin-bottom: 2rem;
  }

  .services__card11_2 {
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 1.5rem;
  }

  .services__title11_2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .services__description11_2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
