.h-wrapper {
  z-index: 20;
  position: sticky;
  top: 0;
}
.h-container4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--website-1-color-1);
  justify-content: space-between;
  background-color: var(--website-4-color-1);
}

.h-menu4 {
  gap: 2rem;
}
.h-menu4 > *:hover {
  cursor: pointer;
}
.menu-icon4 {
  display: none;
}
.menu-icon4 .bar4 {
  font-size: 30px;
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .menu-icon4 {
    display: block;
  }

  .h-container4 {
    padding-bottom: 2rem;
  }
  .h-menu4 {
    color: var(--website-1-color-1);
    position: absolute;
    gap: 2rem;
    font-weight: 500;
    flex-direction: column;
    right: 4rem;
    top: 4.5rem;
    background: var(--white);
    display: flex;
    border-radius: 10px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 3rem;
    box-shadow: 0px 4px 4px var(--website-4-color-1);
  }
}
